{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block content %}
        <h2> Login </h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success"> Login </button>
        </form><br/>
        <p><a href="{% provider_login_url 'google' %}">Log In with Gmail</a></p>
{% endblock %}