{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
        <h2> Signup </h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success"> Sign Up </button>
        </form>
        <br/>
    <p><a href="{% url 'account_login' %}">Already have account? </a></p>
{% endblock %}