<form class='form-product-ajax' method='POST' action='{% url "cart:update" %}' data-endpoint='{% url "cart:update" %}' class="form" {% if request.user.is_authenticated %}data-user='abc'{% endif %}> {% csrf_token %}
    <input type='hidden' name='product_id' value='{{ product.id }}' {% if  product.is_digital %}data-is-digital='true'{% endif%}/>
      <span class='submit-span'>
    {% if product in cart.products.all %}
        <div class='btn-group'> <a class='btn btn-link' href='/cart/'><i class="icon icon-shopping-cart"></i> In cart</a> <button type='submit' class='btn btn-link'><i class="icon icon-remove"></i> Remove?</button></div>
    {% else %}
        <button type='submit' class='btn'><i class="icon icon-handbag"></i> <span>Add to cart</span></button>
    {% endif %}
    </span>
</form>
<div class="prd-links"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>