{% extends "base.html" %}

{% comment %} {% extends "base.html" %}
{% block content %}
<div class='row'>
    <div class="col-12 text-center py-5">
            {% if key %}
                <h1 class='my-5 py-5'>Activation Error. Please try again.</h1>
            {% else %}
                <h1 class='my-5 py-5'>Re-activate your Email Below.</h1>
            {% endif %}
      </div>
        <div class="col-12 text-center">
           
      </div>
</div>
{% endblock %} {% endcomment %}


{% block content %}
  <div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    {% comment %} <li><a href="/">Home</a></li>
                    <li><span>Cart</span></li> {% endcomment %}
                </ul>
            </div>
        </div>
        <div class="holder mt-0">
            <div class="container">
                <h1 class="text-center">Activate Your Email Address</h1>
                
               <div class="cart-body">
                
                            <div class="empty-category">
                                {% if key %}
                                <div class="empty-category-text"><span>Activation Error</span>, Please try again.</div>
                                {% else %}
                                <div class="empty-category-text"><span>Re-activate your Email Below.</div>
                                {% endif %}
                                
                                <div class="empty-category-text">
                                <form method='POST' action=''>{% csrf_token %}
                                  <div class="form-group">  {{ form.as_p }} </div>
                                    <br/><input class='btn btn-default' type='submit' value='Resend Activation' />
                                </form>
                                </div>
                      
                            </div>
                     
            </div>
        </div>
{% endblock %}