
{% extends "base.html" %}
{% block title %} Password Reset - Spograde {% endblock %}
{% block content %}

<div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><span>Reset Password</span></li>
                </ul>
            </div>
        </div>
        <div class="holder mt-0">
            <div class="container">
                <div class="row justify-content-around">
                    <div class="col-sm-6 col-md-4">
                        <div id="loginForm">
                            <h2 class="text-center">Reset your password</h2>
                            <div class="form-wrapper">
                                <p>Please enter your email address which you want to reset.</p>

                                    <form method='POST'> {% csrf_token %}
                                    <div class="form-group">{{ form.as_p }}</div><br/>
                                    <button type="submit" class='btn btn-block btn-info'>Reset Password</button>
                                  </form>
                                   <p>We will send you an email instructions to reset your password.</p>
                            </div><br/>
                        </div>
                        <div id="recoverPasswordForm" class="d-none">
                            <h2 class="text-center">RESET YOUR PASSWORD</h2>
                            <div class="form-wrapper">
                                <p>We will send you an email to reset your password.</p>
                                <form action="#">
                                    <div class="form-group"><input type="text" class="form-control" placeholder="Your Name"></div>
                                    <div class="form-group"><input type="password" class="form-control" placeholder="Password"></div>
                                    <div class="btn-toolbar"><a href="#" class="btn btn--alt js-toggle-forms">Cancel</a> <button class="btn ml-1">Submit</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-divider"></div>
                    <div class="col-sm-6 col-md-4 mt-3 mt-sm-0">
                        <h2 class="text-center">REGISTER</h2>
                        <div class="form-wrapper">
                            <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p><a href="{% url 'register' %}" class="btn">create an account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
{% endblock %}