
{% extends "base.html" %}
{% block title %} Password Reset - Spograde {% endblock %}
{% block content %}

{% comment %} {% extends "base.html" %}
{% block content %}
<div class='row'>
    <div class='col-md-4 col-10  mx-auto'>
        <h1>Set your Password</h1>
        <form method='post' action=''>{% csrf_token %}
        {{ form.as_p }}
        <span style='margin-bottom: 12px;'></span>
        <button type="submit" class='btn btn-block btn-info'>Set new password</button>
        </form>
      </div>
</div>
{% endblock %} {% endcomment %}


<div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><span>Reset Password</span></li>
                </ul>
            </div>
        </div>
        <div class="holder mt-0">
            <div class="container">
                <div class="row justify-content-around">
                    <div class="col-sm-6 col-md-4">
                        <div id="loginForm">
                            <h2 class="text-center">Reset your password</h2>
                            <div class="form-wrapper">
                                    <form method='POST'> {% csrf_token %}
                                    <div class="form-group">{{ form.as_p }}</div><br/>
                                    <button type="submit" class='btn btn-block btn-info'>Set new password</button>
                                  </form>
                            </div><br/>
                        </div>
                        <div id="recoverPasswordForm" class="d-none">
                            <h2 class="text-center">RESET YOUR PASSWORD</h2>
                            <div class="form-wrapper">
                                <p>We will send you an email to reset your password.</p>
                                <form action="#">
                                    <div class="form-group"><input type="text" class="form-control" placeholder="Your Name"></div>
                                    <div class="form-group"><input type="password" class="form-control" placeholder="Password"></div>
                                    <div class="btn-toolbar"><a href="#" class="btn btn--alt js-toggle-forms">Cancel</a> <button class="btn ml-1">Submit</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        </div>
{% endblock %}