{% extends "base.html" %}
{% block title %} Password Reset - Spograde {% endblock %}
{% block content %}
  <div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    {% comment %} <li><a href="/">Home</a></li>
                    <li><span>Cart</span></li> {% endcomment %}
                </ul>
            </div>
        </div>
        <div class="holder mt-0">
            <div class="container">
                <h1 class="text-center">Reset Instructions Sent</h1>
                
               <div class="cart-body">
                
                            <div class="empty-category">
                                <div class="empty-category-text"><span>Please Check</span>, your email for instructions.</div>                      
                               <div class="empty-category-icon"><i class="icon-mail"></i></div>
                            </div>
                         
            </div>
        </div>
{% endblock %}