
{% extends "base.html" %}
{% block title %} Password Reset - Spograde {% endblock %}
{% comment %} {% extends "base.html" %}
{% block content %}
<div class='row'>
    <div class="col-12 text-center py-5">
            <h1 class='my-5 py-5'>Password reset complete</h1>
            <a href='/login'>Login</a>
      </div>
</div>
{% endblock %} {% endcomment %}


{% block content %}
  <div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    {% comment %} <li><a href="/">Home</a></li>
                    <li><span>Cart</span></li> {% endcomment %}
                </ul>
            </div>
        </div>
        <div class="holder mt-0">
            <div class="container">
                <h1 class="text-center">Password Reset Complete</h1>
                
               <div class="cart-body">
                
                            <div class="empty-category">
                              <div class="empty-category-text"><span>Please login</span>, and start accessing our service.</div>  
                              <div class="empty-category-button"><a href="/login" class="btn-decor">Login Now</a></div>
                              <div class="empty-category-icon"><i class="icon-star"></i></div>      
                      
                            </div>
                     
            </div>
        </div>
{% endblock %}