{% extends "base.html" %}
{% block title %} Payment Failed - Spograde {% endblock %}
{% block content %}
                <div class="prd-grid">
                            <div class="empty-category">
                                <div class="empty-category-text"><span>Sorry</span>, Your Transaction has not been completed</div>
                                <div class="alert alert-warning"><strong>Note: </strong> {{ respmsg}}. <br/> Please contact us with transaction Id : <b> {{ mid|upper }} </b></div>
                                {% comment %} <div class="empty-category-text">{{ respmsg }}</div> {% endcomment %}
                                <div class="empty-category-button"><a href="/" class="btn-decor">Try Again</a></div>
                                <div class="empty-category-icon"><i class="icon icon-error"></i></div>
                            </div>
                        </div>

{% endblock %}