{% extends "base.html" %}
{% block title %} Order Checkout - Spograde {% endblock %}
{% block content %}

  <div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="/">Home</a></li>
                    <li><span>Checkout</span></li>
                </ul>
            </div>
        </div>
{% if not billing_profile %}

        <div class="holder mt-0">
            <div class="container">
                <h1 class="text-center">Checkout page</h1>
                <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card--grey">
                                <div class="card-body">
                                    <h2>SHIPPING ADDRESS</h2>
                                    <p><a href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}">Login</a> or <a href="{% url 'register' %}?next={{ request.get_full_path|urlencode }}">Register</a> for faster payment.</p>
                                    <div style="pointer-events: none;opacity: 0.5;background: #fbfbfb;">
                                    <div class="row mt-2">
                                        <div class="col-sm-6"><label class="text-uppercase">First Name:</label>
                                            <div class="form-group"><input type="text" class="form-control"></div>
                                        </div>
                                        <div class="col-sm-6"><label class="text-uppercase">Last Name:</label>
                                            <div class="form-group"><input type="text" class="form-control"></div>
                                        </div>
                                    </div><label class="text-uppercase">Country:</label>
                                    <div class="form-group select-wrapper"><select class="form-control">
                                            <option value="India">India</option>
                                            <option value="Canada">Canada</option>
                                        </select></div>
                                    <div class="row">
                                        <div class="col-sm-6"><label class="text-uppercase">State:</label>
                                            <div class="form-group select-wrapper"><select class="form-control">
                                                    <option value="UP">Uttar Pradesh</option>
                                                    <option value="DL">Delhi</option>
                                                </select></div>
                                        </div>
                                        <div class="col-sm-6"><label class="text-uppercase">zip/postal code:</label>
                                            <div class="form-group"><input type="text" class="form-control"></div>
                                        </div>
                                    </div><label class="text-uppercase">Address 1:</label>
                                    <div class="form-group"><input type="text" class="form-control"></div>
                                    <div class="clearfix"><input id="formcheckoutCheckbox1" name="checkbox1" type="checkbox"> <label for="formcheckoutCheckbox1">Save address to my account</label></div>
                                </div>
                                </div>
                            </div>
                            <div class="card card--grey mt-2">
                                <div class="card-body" style="pointer-events: none;opacity: 0.5;background: #fbfbfb;">
                                    <h2>BILLING ADDRESS</h2>
                                    <div class="clearfix"><input id="formcheckoutCheckbox2" name="checkbox2" type="checkbox"> <label for="formcheckoutCheckbox2">The same as shipping address</label></div><label class="text-uppercase">Country:</label>
                                    <div class="form-group select-wrapper"><select class="form-control">
                                            <option value="China">India</option>
                                            <option value="India">Pakistan</option>
                                        </select></div>
                                    <div class="row">
                                        <div class="col-sm-6"><label class="text-uppercase">State:</label>
                                            <div class="form-group select-wrapper"><select class="form-control">
                                                    <option value="DL">Delhi</option>
                                                    <option value="AGC">Agra</option>
                                                    <option value="UP">Uttar Pradesh</option>
                                                    <option value="AR">Arkansas</option>
                                                </select></div>
                                        </div>
                                        <div class="col-sm-6"><label class="text-uppercase">zip/postal code:</label>
                                            <div class="form-group"><input type="text" class="form-control"></div>
                                        </div>
                                    </div><label class="text-uppercase">Address 1:</label>
                                    <div class="form-group"><input type="text" class="form-control"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-2 mt-md-0">
                            <div class="card card--grey">
                                <div class="card-body" style="pointer-events: none;opacity: 0.5;background: #fbfbfb;">
                                    <h2>PAYMENT METHOD</h2>
                                    <div class="clearfix"><input id="formcheckoutRadio4" value="" name="radio2" type="radio" class="radio" checked="checked"> <label for="formcheckoutRadio4">Credit Card</label></div>
                                    <div class="clearfix"><input id="formcheckoutRadio5" value="" name="radio2" type="radio" class="radio"> <label for="formcheckoutRadio5">Paytm</label></div><label class="text-uppercase">Cart Number</label>
                                    <div class="form-group"><input type="text" class="form-control"></div>
                                    <div class="row">
                                        <div class="col-sm-6"><label class="text-uppercase">Month:</label>
                                            <div class="form-group select-wrapper"><select class="form-control">
                                                    <option selected="selected" value="1">January</option>
                                                    <option value="2">February</option>
                                                    <option value="3">March</option>
                                                    <option value="4">April</option>
                                                    <option value="5">May</option>
                                                    <option value="6">June</option>
                                                    <option value="7">July</option>
                                                    <option value="8">August</option>
                                                    <option value="9">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select></div>
                                        </div>
                                        <div class="col-sm-6"><label class="text-uppercase">Year:</label>
                                            <div class="form-group select-wrapper"><select class="form-control">
                                                    <option value="2019">2019</option>
                                                    <option value="2020">2020</option>
                                                    <option value="2021">2021</option>
                                                    <option value="2022">2022</option>
                                                    <option value="2023">2023</option>
                                                    <option value="2024">2024</option>
                                                </select></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6"><label class="text-uppercase">CVV Code</label>
                                            <div class="form-group"><input type="text" class="form-control"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2"></div>
                            <div class="card card--grey">
                                <div class="card-body" style="margin-top:10px;pointer-events: none;opacity: 0.5;background: #fbfbfb;">
                                    <h3>ORDER COMMENT</h3><label class="text-uppercase">Write a comment here:</label> <textarea class="form-control textarea--height-100"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-2 mt-md-0">
                            <h2 class="custom-color">ORDER SUMMARY</h2>
                            <div class="cart-table cart-table--sm">
                                <div class="cart-table-prd cart-table-prd-headings d-none d-lg-table">
                                    <div class="cart-table-prd-image"></div>
                                    <div class="cart-table-prd-name"><b>ITEM</b></div>
                                    <div class="cart-table-prd-qty"><b>QTY</b></div>
                                    <div class="cart-table-prd-price"><b>PRICE</b></div>
                                </div>
                               
                            {% for product in cart.products.all %}

                                <div class="cart-table-prd">
                                    <div class="cart-table-prd-image"><a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" alt="{{ product.title }}"></a></div>
                                    <div class="cart-table-prd-name">
                                        <h2><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h2>
                                    </div>
                                    <div class="cart-table-prd-qty"><b>1</b></div>
                                    <div class="cart-table-prd-price"><b>&#8377; {{ product.price }}</b></div>
                                </div>
                            {% endfor %}

                              
                            </div>
                            <div class="card-total-sm">
                                <div class="float-right">Subtotal <span class="card-total-price">{% if special %}(*Prebooking){% endif %} &#8377; {{ cart.subtotal }}</span></div>
                            </div>
                            <div class="mt-2"></div>
                            <div class="card card--grey">
                                <div class="card-body">
                                    <h3>APPLY PROMOCODE</h3><label class="text-uppercase">promo/student code:</label>
                                    <div class="form-flex">
                                        <div class="form-group"><input type="text" class="form-control"></div><button type="submit" class="btn btn--form btn--alt">Apply</button>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2"></div>
                            <div class="clearfix"><button type="submit" class="btn btn--lg w-100" disabled>Place Order</button></div>
                        </div>
                    </div>
            </div>
{% else %}
    
    {% if not object.shipping_address and shipping_address_required %}

         <div class="holder mt-0">
            <div class="container">
                <h1 class="text-center">Checkout page</h1>
                <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card card--grey">
                                <div class="card-body">
                                    <h2>SHIPPING ADDRESS</h2>
                                    <div>
                                    {% url "checkout_address_create" as checkout_address_create %}
                                    {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='shipping' %}
                                </div>
                                    {% url 'checkout_address_reuse' as checkout_address_reuse %}
                                    {% include 'addresses/prev_addresses.html' with address_qs=address_qs next_url=request.build_absolute_uri address_type='shipping' action_url=checkout_address_reuse %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-2 mt-md-0">
                            <h2 class="custom-color">ORDER SUMMARY</h2>
                            <div class="cart-table cart-table--sm">
                                <div class="cart-table-prd cart-table-prd-headings d-none d-lg-table">
                                    <div class="cart-table-prd-image"></div>
                                    <div class="cart-table-prd-name"><b>ITEM</b></div>
                                    <div class="cart-table-prd-qty"><b>QTY</b></div>
                                    <div class="cart-table-prd-price"><b>PRICE</b></div>
                                </div>
                            {% for product in cart.products.all %}
                                <div class="cart-table-prd">
                                    <div class="cart-table-prd-image"><a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" alt="{{ product.title }}"></a></div>
                                    <div class="cart-table-prd-name">
                                        <h2><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h2>
                                    </div>
                                    <div class="cart-table-prd-qty"><b>1</b></div>
                                    <div class="cart-table-prd-price"><b>&#8377; {{ product.price }}</b></div>
                                </div>
                            {% endfor %}
                            </div>
                            <div class="card-total-sm">
                                <div class="float-right">Subtotal <span class="card-total-price">{% if special %}(*Prebooking){% endif %} &#8377; {{ cart.subtotal }}</span></div>
                            </div>
                            <div class="mt-2"></div>
                            <div class="card card--grey">
                                <div class="card-body">
                                    <h3>APPLY PROMOCODE</h3><label class="text-uppercase">promo/student code:</label>
                                    <div class="form-flex">
                                        <div class="form-group"><input type="text" class="form-control"></div><button type="submit" class="btn btn--form btn--alt">Apply</button>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2"></div>
                            <div class="clearfix"><button type="submit" class="btn btn--lg w-100" disabled>Place Order</button></div>
                        </div>
                    </div>
            </div>


        {% elif not object.billing_address %}
        
            <div class="holder mt-0">
            <div class="container">
                <h1 class="text-center">Checkout page</h1>
                <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card card--grey">
                                <div class="card-body">
                                    <h2>BILLING ADDRESS</h2>
                                    <div>
                                    {% url "checkout_address_create" as checkout_address_create %}
                                    {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='billing' %}
                                </div>
                                    {% url 'checkout_address_reuse' as checkout_address_reuse %}
                                    {% include 'addresses/prev_addresses.html' with address_qs=address_qs next_url=request.build_absolute_uri  address_type='billing' action_url=checkout_address_reuse %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-2 mt-md-0">
                            <h2 class="custom-color">ORDER SUMMARY</h2>
                            <div class="cart-table cart-table--sm">
                                <div class="cart-table-prd cart-table-prd-headings d-none d-lg-table">
                                    <div class="cart-table-prd-image"></div>
                                    <div class="cart-table-prd-name"><b>ITEM</b></div>
                                    <div class="cart-table-prd-qty"><b>QTY</b></div>
                                    <div class="cart-table-prd-price"><b>PRICE</b></div>
                                </div>
                            {% for product in cart.products.all %}
                                <div class="cart-table-prd">
                                    <div class="cart-table-prd-image"><a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" alt="{{ product.title }}"></a></div>
                                    <div class="cart-table-prd-name">
                                        <h2><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h2>
                                    </div>
                                    <div class="cart-table-prd-qty"><b>1</b></div>
                                    <div class="cart-table-prd-price"><b>&#8377; {{ product.price }}</b></div>
                                </div>
                            {% endfor %}
                            </div>
                            <div class="card-total-sm">
                                <div class="float-right">Subtotal <span class="card-total-price">{% if special %}(*Prebooking){% endif %} &#8377; {{ cart.subtotal }}</span></div>
                            </div>
                            <div class="mt-2"></div>
                            <div class="card card--grey">
                                <div class="card-body">
                                    <h3>APPLY PROMOCODE</h3><label class="text-uppercase">promo/student code:</label>
                                    <div class="form-flex">
                                        <div class="form-group"><input type="text" class="form-control"></div><button type="submit" class="btn btn--form btn--alt">Apply</button>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2"></div>
                            <div class="clearfix"><button type="submit" class="btn btn--lg w-100" disabled>Place Order</button></div>
                        </div>
                    </div>
            </div>

        {% else %}        
        

        <div class="holder mt-0">
            <div class="container">
                <h1 class="text-center">Checkout summary</h1>
                <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card--grey">
                                <div class="card-body">
                                    <h2>SHIPPING ADDRESS</h2>
                                    <div>
                                   {{ object.shipping_address_final }}
                                </div>
                                </div>
                            </div>
                            <div class="card card--grey mt-2">
                                <div class="card-body">
                                    <h2>BILLING ADDRESS</h2>
                                    {{ object.shipping_address_final }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-2 mt-md-0">
                            
                            <div class="card card--grey">
                                <div class="card-body">
                                    <h2>PAYMENT METHOD</h2>
                                    <div class="form-group">
                                    <div class="clearfix">
                                    {% if special %}
                                    <input id="radio1" value="paytm" name="radiogroup" type="radio" class="radiogroup" checked="checked"> <label for="radio1">PayTM</label></div>
                                    </div>
                                     <div class="alert alert-warning"><strong>Notice!</strong> Prebooking doens't have the COD.</div>
                                    {% else %}
                                    <input id="radio1" value="paytm" name="radiogroup" type="radio" class="radiogroup"> <label for="radio1">PayTM</label>
                                    <input id="radio2" value="cod" name="radiogroup" type="radio" class="radiogroup" checked="checked"> <label for="radio2" >Cash on Delivery</div>
                                    </div>
                                     <a class="btn btn-sm disabled">Change Payment Method</a>
                                    {% endif %}
                                    
                                    
                                </div>
                            </div>
                            <div class="mt-2"></div>
                            <div class="card card--grey">
                                <div class="card-body">
                                    <h3>ORDER COMMENT</h3><label class="text-uppercase">Write anything you want pass:</label> <textarea class="form-control textarea--height-100"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-2 mt-md-0">
                            <h2 class="custom-color">ORDER SUMMARY</h2>
                            <div class="cart-table cart-table--sm">
                                <div class="cart-table-prd cart-table-prd-headings d-none d-lg-table">
                                    <div class="cart-table-prd-image"></div>
                                    <div class="cart-table-prd-name"><b>ITEM</b></div>
                                    <div class="cart-table-prd-qty"><b>QTY</b></div>
                                    <div class="cart-table-prd-price"><b>PRICE</b></div>
                                </div>
                               
                            {% for product in cart.products.all %}

                                <div class="cart-table-prd">
                                    <div class="cart-table-prd-image"><a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" alt="{{ product.title }}"></a></div>
                                    <div class="cart-table-prd-name">
                                        <h2><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h2>
                                    </div>
                                    <div class="cart-table-prd-qty"><b>1</b></div>
                                    <div class="cart-table-prd-price"><b>&#8377; {{ product.price }}</b></div>
                                </div>
                            {% endfor %}

                              
                            </div>
                            <div class="card-total-sm">
                                <div class="float-right">Subtotal <span class="card-total-price">{% if special %}(*Prebooking){% endif %} &#8377; {{ cart.subtotal }}</span></div>
                            </div>
                            <div class="mt-2"></div>
                            <div class="card card--grey">
                                <div class="card-body">
                                    <h3>APPLY PROMOCODE</h3>
                                      {% if messages %}
                                    {% for message in messages %}
                                           <font color='{{ message.tags }}'>{{ message|safe }}</font><br/>
                                    {% endfor %}
                                    {% endif %}
                                    <label class="text-uppercase">promo/student code:</label>
                                    {% if cart.is_coupon %}
                                     <form class="form" method="post" action="{% url 'cart:disable_coupon' %}">{% csrf_token %}
                                    <div class="form-flex">
                                        <div class="form-group"><input type="text" value="{{ cart.coupon_code }}" class="form-control" disabled="disabled"></div>
                                        <button type="submit" class="btn btn--form btn--alt">🗙</button>
                                    </div>
                                     </form>
                                    {% else %}
                                    <form class="form" method="post" action="{% url 'cart:coupon' %}">{% csrf_token %}
                                    <div class="form-flex">
                                        <div class="form-group"><input type="text" name='code' class="form-control" required></div
                                        ><button type="submit" class="btn btn--form btn--alt">Apply</button>
                                    </div>
                                    </form>
                                    {% endif %}
                                    
                                </div>
                            </div>
                            <div class="mt-2"></div>
                            <form class='form' method='POST' action="">{% csrf_token %}
                             <input type="text" name="pay_type" id="pay_type" value="cod" hidden>
                             <div class="clearfix"><button type="submit" class="btn btn--lg w-100">Place Order</button></div>
                            </form>
                        </div>
                    </div>
            </div>
        {% endif %}
        {% endif %}
        </div>
{% endblock %}
{% block extra_js %}
<script>
$('.radiogroup').change(function(e){
    var selectedValue = $(this).val();
    $('#pay_type').val(selectedValue)
});
</script>
{% endblock %}
