{% extends "base.html" %}
{% block title %} Order Success - Spograde {% endblock %}
{% block content %}
                <div class="prd-grid">
                            <div class="empty-category">
                                <div class="empty-category-text"><span>Thank You</span>, For your order</div>
                                <div class="empty-category-button"><a href="/orders" class="btn-decor">View Order</a></div>
                                <div class="empty-category-icon"><i class="icon icon-handbag"></i></div>
                            </div>
                        </div>

{% endblock %}