{% extends "base.html" %}
{% block title %} Cart - Spograde {% endblock %}
{% block content %}
  <div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="/">Home</a></li>
                    <li><span>Cart</span></li>
                </ul>
            </div>
        </div>
        <div class="holder mt-0">
            <div class="container">
                <h1 class="text-center">Shopping Cart</h1>
                <div class="cart-table">
               {% if cart.products.exists %}
               <div class="cart-body">
                  {% for product in cart.products.all %}
                    <div class="cart-table-prd cart-product">
                        <div class="cart-table-prd-image"><a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" alt="{{ product.title }}"></a></div>
                        <div class="cart-table-prd-name">
                            <h5><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h5>
                            <h2><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h2>
                            {% if cart.p_type.all %}
                            {% for p_type in cart.p_type.all %}
                            <h5> {{ p_type.title }}</h5>
                            {% endfor %}
                            {% endif %}
                        </div>
                         {% if cart.p_size.all %}
                         {% for p_size in cart.p_size.all %}
                         <div class="cart-table-prd-qty">
                         <span>
                         size:</span> <b>{{ p_size.short_name_to_display }}</b>
                         </div>
                         {% endfor %}
                         {% endif %}
                        <div class="cart-table-prd-qty"><span>qty:</span> <b>1</b></div>
                        <div class="cart-table-prd-price"><span>price:</span> <b>&#8377; {{ product.price }}</b></div>
                        <div class="cart-table-prd-action">
                        {% include 'carts/snippets/remove-product.html' with product_id=product.id %}
                        </div>
                    </div>
                   {% endfor %}
                 </div>
                    <div class="cart-table-total">
                        <div class="row">
                            <div class="col-sm"><a href="#" class="btn btn--alt"><i class="icon-cross"></i><span>clear shopping cart</span></a></div>
                            <div class="col-sm-auto"><a href="/" class="btn"><i class="icon-angle-left"></i><span>continue shopping</span></a></div>
                        </div>
                    </div>
                </div>
                <div class="mt-3 mt-lg-5">
                    <div class="row vert-margin">
                        <div class="col-md-4">
                           
                        </div>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <div class="card-total text-uppercase">Subtotal <span class="cart-subtotal"><b>&#8377; {{ cart.subtotal }}</b> </span></div><a class="btn btn--full btn--lg" href='{% url "cart:checkout" %}'>proceed to checkout</a>
                        </div>
                    </div>
                </div>
                <br/>
                <div class='cart-item-remove-form' style='display:none'>
                  {% include 'carts/snippets/remove-product.html' %}
                </div>
                {% else %}
                <div class="prd-grid">
                            <div class="empty-category">
                                <div class="empty-category-text"><span>SORRY</span>, CART IS CURRENTY EMPTY</div>
                                <div class="empty-category-button"><a href="/" class="btn-decor">GO BACK</a></div>
                                <div class="empty-category-icon"><i class="icon-sad-face"></i></div>
                            </div>
                        </div>
                {% endif %}
            </div>
        </div>
{% endblock %}