<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Ultimate Sports Facility | Spograde</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}"><!-- Vendor CSS -->
    <link href="{% static 'js/plugins.css' %}" rel="stylesheet"><!-- Custom styles for this template -->
    <link href="{% static 'css/style-furniture_1_light.css' %}" rel="stylesheet">
    <!--icon font-->
    <link href="{% static 'fonts/icomoon/icomoon.css' %}" rel="stylesheet">
    <!--custom font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
          rel="stylesheet">
</head>

<body class="home-page is-dropdn-click has-slider">
<div class="body-preloader">
    <div class="loader-wrap">
        <div class="dots">
            <div class="dot one"></div>
            <div class="dot two"></div>
            <div class="dot three"></div>
        </div>
    </div>
</div>

<header class="hdr global_width hdr-style-4 hdr_sticky minicart-icon-style-1 hdr-mobile-style2">
    <!--  Mobile Menu   -->
    {% include 'base/_header.html' %}
    <!--  Mobile Menu End   -->
</header>
<div class="page-content">
    {% block content %}
    {% endblock %}
{% include 'base/_footer.html' %}
    <div class="body-preloader">
        <div class="loader-wrap">
            <div class="dots">
                <div class="dot one"></div>
                <div class="dot two"></div>
                <div class="dot three"></div>
            </div>
        </div>
    </div>
   
</body>

</html>