        <div class="holder fullwidth fullwidth--nopad">
            <div class="container holder-bg-13">
                <div class="row shop-features-style2-1">
                    <div class="col-sm-4"><a class="shop-feature">
                        {% include 'base/delivery_world_wide_constant.html' %}
                </div>
            </div>
        </div>