 <footer class="page-footer footer-style-1 global_width">
        <div class="holder bgcolor bgcolor-1 mt-0">
            <div class="container">
                <div class="row shop-features-style3">
                    <div class="col-md"><a href="#" class="shop-feature light-color">
                        {% include 'base/delivery_world_wide_constant.html' %}
                </div>
            </div>
        </div>
        {% include 'base/footer_common_menus.html' %}
    </footer>