 <div class="holder holder-divider"></div>
        <div class="holder fullwidth full-nopad">
            <div class="container">
                <h2 class="h1-style text-center">#Spograde on instagram</h2>
                <div class="instagram-carousel">
                    <div id="instafeed" class="instagram-feed-full js-instagram-feed" data-instafeed='{"limit": "12", "accessToken": "24618263000.1677ed0.1894fae392b046acbdba6d7b027166bc", "sortBy": "most-recent"}'></div>
                    <div class="instagram-carousel-arrows container"></div>
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer footer-style-1 fullboxed mt-0">

    {% include 'base/footer_common_menus.html' %}
        
    </footer>