 <div class="holder fullboxed py-3 py-lg-6">
            <div class="container">
                <div class="row vert-margin align-items-center">
                    <div class="col-md-6 col-lg-5">
                        <div class="pr-lg-6">
                            <div class="title-wrap">
                                <h1 class="h-xl"> <span class="custom-color">Aerodynamic</span> Design</h1>
                                {% comment %} <h3 class="h1-style">IS MADE <span class="custom-color">FOR PROFESSIONAL</span></h3> {% endcomment %}
                            </div>
                            <p> Spograde Cricket Bats are designed to be more balanced and aerodynamic in nature, reducing the resistance during the swing, which gives you better control and feels and helps you improve faster. </p>
                            <div class="text-center mt-3"><h3><a href="category/cricket-bat/" class="btn-decor">VIEW NOW</a></h3></div>
                        </div>
                    </div>
                     <div class="col-md-6 col-lg-7"><a href="category/cricket-bat/"><img src="/media/placeholder.png" data-src="{{ base_url }}media/usp/aerodynamics.jpg" alt="Aerodynamic Design" class="img-fluid lazyload"></a></div>
                </div>
            </div>
        </div>

 <div class="holder fullboxed py-3 py-lg-6">
            <div class="container">
                <div class="row vert-margin align-items-center">
                     <div class="col-md-6 col-lg-7"><a href="category/cricket-bat/"><img src="/media/placeholder.png" data-src="{{ base_url }}media/usp/pre-pressed.jpg" alt="Pre-Pressed Bat" class="img-fluid lazyload"></a></div>
                    <div class="col-md-6 col-lg-5">
                        <div class="pr-lg-6">
                            <div class="title-wrap">
                                <h1 class="h-xl"><span class="custom-color">Pre-Pressed</span> Bat</h1>
                            </div>
                            <p>Spograde Cricket Bats are machine pre-pressed, so you can skip the tedious knocking process and are ready to hit</p>
                            <div class="text-center mt-3"><h3><a href="category/cricket-bat/" class="btn-decor">VIEW NOW</a></h3></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

 <div class="holder fullboxed py-3 py-lg-6">
            <div class="container">
                <div class="row vert-margin align-items-center">
                    <div class="col-md-6 col-lg-5">
                        <div class="pr-lg-6">
                            <div class="title-wrap">
                                <h1 class="h-xl"><span class="custom-color">Imported Cane</span> Handle</h1>
                            </div>
                            <p> Our Handles are made of imported cane wood which gives you a jerk-free performance due to its excellent shock absorption properties</p>
                            <div class="text-center mt-3"><h3><a href="category/cricket-bat/" class="btn-decor">VIEW NOW</a></h3></div>
                        </div>
                    </div>
                     <div class="col-md-6 col-lg-7"><a href="category/cricket-bat/"><img src="/media/placeholder.png" data-src="{{ base_url }}media/usp/imported.jpg" alt="Imported Can Handle" class="img-fluid lazyload"></a></div>
                </div>
            </div>
        </div>

 <div class="holder fullboxed py-3 py-lg-6">
            <div class="container">
                <div class="row vert-margin align-items-center">
                  <div class="col-md-6 col-lg-7"><a href="category/cricket-ball/"><img src="/media/placeholder.png" data-src="{{ base_url }}media/usp/usp_ball.jpg" alt="Excellent Shape Retention" class="img-fluid lazyload"></a></div>
                    <div class="col-md-6 col-lg-5">
                        <div class="pr-lg-6">
                            <div class="title-wrap">
                                <h1 class="h-xl"><span class="custom-color">Excellent Shape </span> retention</h1>
                            </div>
                            <p> Our balls are manufactured with imported cork granules with High-quality leather and wool which gives them excellent abrasion resistance, and makes them retain their shape for longer life.</p>
                            <div class="text-center mt-3"><h3><a href="category/cricket-ball/" class="btn-decor">VIEW NOW</a></h3></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>