        <!-- Promo TopLine -->
        {% comment %} <div class="bgcolor" style="background-image: url({{ base_url }}/media/promo-topline-bg.png);">
            <div class="promo-topline" data-expires="1" style="display: none;">
                <div class="container">
                    <div class="promo-topline-item"><b><span class="hidden-xs">FREE SHIPPING</span></b></div>
         GET 10% OFF YOUR FIRST ORDER WITH CODE <span style="color: #000">SPOGRADE</span>&nbsp;
                </div><a href="#" class="promo-topline-close js-promo-topline-close"><i class="icon-cross"></i></a>
            </div>
        </div> {% endcomment %}
        <!-- /Promo TopLine -->
        <div class="mobilemenu js-push-mbmenu">
            <div class="mobilemenu-content">
                <div class="mobilemenu-close mobilemenu-toggle">CLOSE</div>
                <div class="mobilemenu-scroll">
                    <div class="mobilemenu-search"></div>
                    <div class="nav-wrapper show-menu">
                        <div class="nav-toggle"><span class="nav-back"><i class="icon-arrow-left"></i></span> <span class="nav-title"></span></div>
                        <ul class="nav nav-level-1">
                             <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="#">Products<span class="menu-label menu-label--color3">Hurry Up!</span></a><span class="arrow"></span>
                                <ul class="nav-level-2">
                                    <li><a href="/category/cricket-bat" title="">Cricket Bats</a></li>
                                    <li><a href="/category/cricket-ball" title="">Leather Balls</a></li>
                                    {% comment %} <li><a href="/category/cricket-kit" title="">Cricket Kit</a></li> {% endcomment %}
                                    {% comment %} <li><a href="{% url 'product-verification' %}" title="Product Verification">Product Verification</a></li> {% endcomment %}
                                </ul>
                            </li>
                            <li><a href="{% url 'about' %}">About Us</a></li>
                            <li><a href="{% url 'ipl_landing_page' %}"> SupportYourTeam </a></li>
                            <li><a href="{% url 'contact' %}">Contact Us</a></li>

                        </ul>
                    </div>
                    <div class="mobilemenu-bottom">
                        <div class="mobilemenu-currency"></div>
                        <div class="mobilemenu-language"></div>
                        <div class="mobilemenu-settings"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Mobile Menu -->
        <div class="hdr-mobile show-mobile">
            <div class="hdr-content">
                <div class="container">
                    <!-- Menu Toggle -->
                    <div class="menu-toggle"><a href="#" class="mobilemenu-toggle"><i class="icon icon-menu"></i></a></div>
                    <!-- /Menu Toggle -->
                    <div class="logo-holder"><a href="{% url 'home' %}" class="SPOGRADE"><img src="{{ base_url }}/static/img/logo.png" srcset="{{ base_url }}/static/img/logo.png 2x" alt="SPOGRADE"></a></div>
                    <div class="hdr-mobile-right">
                        <div class="hdr-topline-right links-holder"></div>
                        <div class="minicart-holder"></div>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="hdr-desktop hide-mobile">
            <div class="hdr-topline">
                <div class="container">
                    <div class="row">
                        <div class="col-auto hdr-topline-left">
                            <div class="custom-text"><a href="tel:+919910280162"><i class="icon icon-mobile"></i><b>+91-99102-80162</b></a></div>
                        </div>
                        <div class="col hdr-topline-center">
                            <div class="custom-text"><span class="background-color">#UPGRADEYOURGAME</span></div>
                        </div>
                        <div class="col-auto hdr-topline-right links-holder links-holder-0">
                            <!-- Header Account -->
                            
                            <!-- /Header Account -->
                        <div class="dropdn dropdn_account @@classes"><a href="#" class="dropdn-link"><i class="icon icon-person"></i><span>My Account</span></a>
                                <div class="dropdn-content">
                                    <div class="container">
                                        <div class="dropdn-close">CLOSE</div>
                                        <ul>
                                        {% if request.user.is_authenticated %}
                                            {% comment %} <li><a href="account-details.html"><i class="icon icon-person-fill"></i><span>My Account</span></a></li> {% endcomment %}
                                            <li><a href="{% url "cart:checkout" %}"><i class="icon icon-check-box"></i><span>Checkout</span></a></li>
                                            <li><a href="{% url 'account:home' %}"><i class="icon icon-lock"></i><span>Account</span></a></li>
                                            <li><a href="{% url 'orders:list' %}"><i class="icon icon-box"></i><span>Orders</span></a></li>
                                            <li><a href="{% url 'logout' %}"><i class="icon icon-lock"></i><span>Log Out</span></a></li>
                                            <li><a href="{% url 'product-verification' %}"><i class="icon icon-check-box"></i><span> Product Verification </span></a></li>


                                        {% else %}
                                            <li><a href="{% url 'login' %}"><i class="icon icon-lock"></i><span>Log In</span></a></li>
                                            <li><a href="{% url 'register' %}"><i class="icon icon-person-fill-add"></i><span>Register</span></a></li>
                                            {% comment %} <li><a href="{% url "cart:checkout" %}"><i class="icon icon-check-box"></i><span>Checkout</span></a></li> {% endcomment %}
                                            <li><a href="{% url 'product-verification' %}"><i class="icon icon-check-box"></i><span> Product Verification </span></a></li>
                                        {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div></div>
                    </div>
                </div>
            </div>
            <div class="hdr-content hide-mobile">
                <div class="container">
                    <div class="row">
                        <div class="col-auto logo-holder"><a href="{% url 'home' %}" class="SPOGRADE"><img src="{{ base_url }}/static/img/logo.png" srcset="{{ base_url }}/static/img/logo.png 2x" alt="SPOGRADE"></a></div>
                        <!--navigation-->
                        <div class="prev-menu-scroll icon-angle-left prev-menu-js"></div>
                        <div class="nav-holder">
                            <div class="hdr-nav">
                                <!--mmenu-->
                                <ul class="mmenu mmenu-js">
                                  <li><a href="{% url 'home' %}">Home</a></li>
                                    <li class="mmenu-item--simple"><a href="#" title="">Products</a>
                                        <div class="mmenu-submenu">
                                            <ul class="submenu-list">
                                                <li><a href="/category/cricket-bat" title="">Cricket Bats<span class="mmenu-preview"><img src="{{ base_url }}/media/nav/bat.jpg" alt="Spograde Bat"></span></a></li>
                                                <li><a href="/category/cricket-ball" title="">Leather Balls<span class="mmenu-preview"><img src="{{ base_url }}/media/nav/ball.jpg" alt="Spograde Ball"></span></a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="mmenu-item--simple"><a href="{% url 'ipl_landing_page' %}">SupportYourTeam<span class="menu-label menu-label--color5">Hot!</span></a>
                                      <li><a href="{% url 'about' %}">About Us</a></li>
                                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                </ul>
                                <!--/mmenu-->
                            </div>
                        </div>
                        <div class="next-menu-scroll icon-angle-right next-menu-js"></div>
                        <!--//navigation-->
                        <div class="col-auto hdr-content-right">
                            <div class="search-holder">
                                <!-- Header Search -->
                                <div class="dropdn dropdn_search hide-mobile only-icon"><a href="#" class="dropdn-link"><i class="icon icon-search2"></i><span>Search</span></a>
                                    <div class="dropdn-content">
                                        <div class="container">
                                            <form action="#" class="search"><button type="submit" class="search-button"><i class="icon-search2"></i></button> <input type="text" class="search-input" placeholder="search keyword">
                                                <div class="search-popular js-search-autofill"><span class="search-popular-label">popular searches:</span><a href="#">Cricket</a> <a href="#">Bats</a> <a href="#">Cricket Bats</a> <a href="#">Discount</a> <a href="#">Cheapest Cricket Kit</a> <a href="#">Cheapest Bats</a> <a href="#">Cricket Glasses</a></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Header Search -->
                            </div>
                            <div class="minicart-holder">
                                <div class="minicart minicart-js"><a href="/cart" style="font-size: 26px;"><i class="icon icon-handbag"></i> <span class="minicart-qty"><span class='navbar-cart-count'>{% if not request.session.cart_items %} 0 {% else %} {{ request.session.cart_items }} {% endif %}</span></span> <span class="minicart-title">Shopping Cart</span> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-holder compensate-for-scrollbar">
            <div class="container">
                <div class="row"><a href="#" class="mobilemenu-toggle show-mobile"><i class="icon icon-menu"></i></a>
                    <div class="col-auto logo-holder-s"><a href="{% url 'home' %}" class="logo"><img src="{{ base_url }}/static/img/logo.png" srcset="{{ base_url }}/static/img/logo.png 2x" alt="Spograded Logo"></a></div>
                    <!--navigation-->
                    <div class="prev-menu-scroll icon-angle-left prev-menu-js"></div>
                    <div class="nav-holder-s"></div>
                    <div class="next-menu-scroll icon-angle-right next-menu-js"></div>
                    <!--//navigation-->
                    <div class="col-auto minicart-holder-s"></div>
                </div>
            </div>
        </div>
        <hr style="margin-top: 0px;margin-bottom: 0px;border: 0;border-top: 1px solid rgba(0, 0, 0, 0.05);">