<div class="holder fullboxed bgcolor mt-0 py-2 py-sm-3">
            <div class="container">
                <div class="row bnr-grid">
                    <div class="col-md"><a href="/category/cricket-bat" class="bnr-wrap">
                            <div class="bnr bnr1 bnr--style-1 bnr--right bnr--middle bnr-hover-scale" data-fontratio="5.55"><img src="/media/placeholder.png" data-src="{{ base_url }}/media/category/bat.jpg" alt="Spograde Bat" class="lazyload"> </div>
                        </a></div>
                    <div class="col-md"><a href="/category/cricket-ball" class="bnr-wrap">
                            <div class="bnr bnr2 bnr--style-1 bnr--left bnr--middle bnr-hover-scale" data-fontratio="5.55"><img src="/media/placeholder.png" data-src="{{ base_url }}/media/category/ball.jpg" alt="Spograde Ball" class="lazyload"></div>
                        </a></div>
                </div>
            </div>
        </div>
        
        {% comment %} <div class="holder fullboxed bgcolor mt-0 pb-2 pb-sm-3">
            <div class="container">
                <div class="row bnr-grid">
                    <div class="col-md"><a href="#" class="bnr-wrap">
                            <div class="bnr bnr--style-1 bnr--right bnr--middle bnr-hover-scale" data-fontratio="5.55"><img src="/media/placeholder.png" data-src="{{ base_url }}/media/demo/banner-3.jpg" alt="Banner" class="lazyload"> <span class="bnr-caption"><span class="bnr-text-wrap"><span class="bnr-text3"> Get your customized bat</span></span></span></div>
                        </a></div>
                    <div class="col-md"><a href="/category/cricket-kit" class="bnr-wrap">
                            <div class="bnr bnr--style-1 bnr--left bnr--middle bnr--dark-text bnr-hover-scale" data-fontratio="5.55"><img src="/media/placeholder.png" data-src="{{ base_url }}/media/demo/banner-4.jpg" alt="Banner" class="lazyload"> <span class="bnr-caption"><span class="bnr-text-wrap"><span class="bnr-text3 dark-text">shop the kit</span></span></span></div>
                        </a></div>
                </div>
            </div>
        </div> {% endcomment %}