<div class="holder">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="title-with-arrows title-with-arrows--center">
                            <h2 class="h1-style">Top Sale</h2>
                            <div class="carousel-arrows"></div>
                        </div>
                        <div class="prd-grid data-to-show-1 data-to-show-sm-2 data-to-show-xs-2 prd-carousel js-prd-carousel js-product-isotope-sm" data-slick='{"slidesToShow": 1, "responsive": [{"breakpoint": 768,"settings": {"slidesToShow": 2}},{"breakpoint": 480,"settings": {"slidesToShow": 2}}]}'>
                        {% for top_sale in top_sales %}    
                            <div class="prd prd-has-loader prd-has-countdown">
                                <div class="prd-inside">
                                    <div class="prd-img-area"><a href="{{ top_sale.get_absolute_url }}" class="prd-img"><img src="{{ base_url }}/media/demo/product-placeholder.png" data-srcset="{{ top_sale.image.url }}" alt="{{ top_sale.title }}" class="js-prd-img lazyload"></a>
                                        {% comment %} <div class="label-sale">-23%</div> {% endcomment %}
                                        <a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                        <ul class="list-options color-swatch prd-hidemobile">
                                            <li data-image="{{ top_sale.image.url }}">
                                            <a href="#" class="js-color-toggle">
                                            <img src="{{ base_url }}/media/demo/product-placeholder.png" data-srcset="{{ top_sale.image.url }}" class="lazyload" alt="{{ top_sale.title }}"></a>
                                            </li>
                                        </ul>
                                        <div class="countdown-box">
                                            <div class="countdown js-countdown" data-countdown="2019/12/31"></div>
                                        </div>
                                        <div class="gdw-loader"></div>
                                    </div>
                                    <div class="prd-info">
                                        <div class="prd-tag prd-hidemobile"><a href="category/{{ top_sale.category.slug }}">{{ top_sale.category }}</a></div>
                                        <h2 class="prd-title"><a href="{{ top_sale.get_absolute_url }}">{{ top_sale.title }}</a></h2>
                                        <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                                        <div class="prd-price">
                                            <div class="price-new">&#8377; {{ top_sale.price }}</div>
                                            <div class="price-old">&#8377; {{ top_sale.price_old }}</div>
                                            <div class="price-comment">You save &#8377; 0</div>
                                        </div>
                                        <div class="prd-hover">
                                            <div class="prd-action">
                                                {% include 'cart/snippets/update-cart.html' with product=top_sale cart=cart %}
                                            </div>
                                            {% comment %} <div class="prd-options prd-hidemobile"><span class="label-options">Sizes:</span>
                                                <ul class="list-options size-swatch">
                                                    <li class="active"><span>xs</span></li>
                                                    <li><span>s</span></li>
                                                    <li><span>m</span></li>
                                                    <li><span>l</span></li>
                                                    <li><span>xl</span></li>
                                                </ul>
                                            </div> {% endcomment %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>

                    <div class="col-md-4 mt-3 mt-md-0">
                        <div class="title-with-arrows title-with-arrows--center">
                            <h2 class="h1-style">TOP FEATURES</h2>
                            <div class="carousel-arrows"></div>
                        </div>
                        <div class="prd-grid data-to-show-1 data-to-show-sm-2 data-to-show-xs-2 prd-carousel js-prd-carousel js-product-isotope-sm" data-slick='{"slidesToShow": 1, "responsive": [{"breakpoint": 768,"settings": {"slidesToShow": 2}},{"breakpoint": 480,"settings": {"slidesToShow": 2}}]}'>
                            {% for top_featured in top_featureds %}    
                            <div class="prd prd-has-loader prd-has-countdown">
                                <div class="prd-inside">
                                    <div class="prd-img-area"><a href="{{ top_featured.get_absolute_url }}" class="prd-img"><img src="{{ base_url }}/media/demo/product-placeholder.png" data-srcset="{{ top_featured.image.url }}" alt="{{ top_featured.title }}" class="js-prd-img lazyload"></a>
                                        {% comment %} <div class="label-sale">-23%</div> {% endcomment %}
                                        <a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                        <ul class="list-options color-swatch prd-hidemobile">
                                            <li data-image="{{ top_featured.image.url }}">
                                            <a href="#" class="js-color-toggle">
                                            <img src="{{ base_url }}/media/demo/product-placeholder.png" data-srcset="{{ top_featured.image.url }}" class="lazyload" alt="{{ top_featured.title }}"></a>
                                            </li>
                                        </ul>
                                        <div class="gdw-loader"></div>
                                    </div>
                                    <div class="prd-info">
                                        <div class="prd-tag prd-hidemobile"><a href="category/{{ top_featured.category.slug }}">{{ top_featured.category }}</a></div>
                                        <h2 class="prd-title"><a href="{{ top_featured.get_absolute_url }}">{{ top_featured.title }}</a></h2>
                                        <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                                        <div class="prd-price">
                                            <div class="price-new">&#8377; {{ top_featured.price }}</div>
                                            <div class="price-old">&#8377; {{ top_featured.price_old }}</div>
                                            <div class="price-comment">You save &#8377; 0</div>
                                        </div>
                                        <div class="prd-hover">
                                            <div class="prd-action">
                                                {% include 'cart/snippets/update-cart.html' with product=top_featured cart=cart %}
                                            </div>
                                            {% comment %} <div class="prd-options prd-hidemobile"><span class="label-options">Sizes:</span>
                                                <ul class="list-options size-swatch">
                                                    <li class="active"><span>xs</span></li>
                                                    <li><span>s</span></li>
                                                    <li><span>m</span></li>
                                                    <li><span>l</span></li>
                                                    <li><span>xl</span></li>
                                                </ul>
                                            </div> {% endcomment %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                                </div>
                            </div>
                    <div class="col-md-4 mt-3 mt-md-0">
                        <div class="title-with-arrows title-with-arrows--center">
                            <h2 class="h1-style">SALE OFF</h2>
                            <div class="carousel-arrows"></div>
                        </div>
                        <div class="prd-grid data-to-show-1 data-to-show-sm-2 data-to-show-xs-2 prd-carousel js-prd-carousel js-product-isotope-sm" data-slick='{"slidesToShow": 1, "responsive": [{"breakpoint": 768,"settings": {"slidesToShow": 2}},{"breakpoint": 480,"settings": {"slidesToShow": 2}}]}'>
                        {% for sale_off in sale_offs %}    
                            <div class="prd prd-has-loader prd-has-countdown">
                                <div class="prd-inside">
                                    <div class="prd-img-area"><a href="{{ sale_off.get_absolute_url }}" class="prd-img"><img src="{{ base_url }}/media/demo/product-placeholder.png" data-srcset="{{ sale_off.image.url }}" alt="{{ sale_off.title }}" class="js-prd-img lazyload"></a>
                                        {% comment %} <div class="label-sale">-23%</div> {% endcomment %}
                                        <a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                        <ul class="list-options color-swatch prd-hidemobile">
                                            <li data-image="{{ sale_off.image.url }}">
                                            <a href="#" class="js-color-toggle">
                                            <img src="{{ base_url }}/media/demo/product-placeholder.png" data-srcset="{{ sale_off.image.url }}" class="lazyload" alt="{{ sale_off.title }}"></a>
                                            </li>
                                        </ul>
                                        <div class="gdw-loader"></div>
                                    </div>
                                    <div class="prd-info">
                                        <div class="prd-tag prd-hidemobile"><a href="category/{{ sale_off.category.slug }}">{{ sale_off.category }}</a></div>
                                        <h2 class="prd-title"><a href="{{ sale_off.get_absolute_url }}">{{ sale_off.title }}</a></h2>
                                        <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                                        <div class="prd-price">
                                            <div class="price-new">&#8377; {{ sale_off.price }}</div>
                                            <div class="price-old">&#8377; {{ sale_off.price_old }}</div>
                                            <div class="price-comment">You save &#8377; 0</div>
                                        </div>
                                        <div class="prd-hover">
                                            <div class="prd-action">
                                                {% include 'cart/snippets/update-cart.html' with product=sale_off cart=cart %}
                                            </div>
                                            {% comment %} <div class="prd-options prd-hidemobile"><span class="label-options">Sizes:</span>
                                                <ul class="list-options size-swatch">
                                                    <li class="active"><span>xs</span></li>
                                                    <li><span>s</span></li>
                                                    <li><span>m</span></li>
                                                    <li><span>l</span></li>
                                                    <li><span>xl</span></li>
                                                </ul>
                                            </div> {% endcomment %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>