        <div class="holder">
            <div class="container">
                <div class="title-wrap text-center">
                    <h2 class="h1-style">Follow us on instagram</h2>
                </div>
                <div class="instagram-grid eleven-in-row">
                    <div class="row">
                        <div class="col col-xl-10 aside-col-xl-12 mx-auto">
                            <div id="instafeed1" class="instagram-feed-full js-instagram-feed" data-instafeed='{"limit": "33", "accessToken": "8136043898.1677ed0.5f6f0f08a4614a9f83fd02618b192be9", "sortBy": "most-recent"}'></div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3 mt-md-4"><a href="#" class="btn-decor">Follow Us</a></div>
            </div>
        </div>
    </div>