 <div class="holder">
            <div class="container">
                <div class="title-wrap text-center">
                    <h2 class="h1-style">What we offer</h2>
                </div>
                <div class="prd-grid prd-carousel js-prd-carousel js-product-isotope-sm slick-arrows-aside-simple slick-arrows-mobile-lg data-to-show-4 data-to-show-md-3 data-to-show-sm-3 data-to-show-xs-2" data-slick='{"slidesToShow": {{ per_row_desktop }}, "slidesToScroll": {{ per_row_desktop }}, "responsive": [{"breakpoint": 992,"settings": {"slidesToShow": 3, "slidesToScroll": 1}},{"breakpoint": 768,"settings": {"slidesToShow": 3, "slidesToScroll": 1}},{"breakpoint": 480,"settings": {"slidesToShow": 2, "slidesToScroll": 1}}]}'>
                    <div class="prd prd-has-loader">
                        <div class="prd-inside">
                            <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="images/products/product-placeholder.png" data-srcset="images/products/product-41.jpg" alt="Ottoman" class="js-prd-img lazyload"></a>
                                <div class="label-new">NEW</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                <ul class="list-options color-swatch prd-hidemobile">
                                    <li data-image="images/products/product-41.jpg"><a href="#" class="js-color-toggle"><img src="images/products/product-placeholder.png" data-srcset="images/products/xsmall/product-41.jpg" class="lazyload" alt="Color Name"></a></li>
                                    <li data-image="images/products/product-41-2.jpg"><a href="#" class="js-color-toggle"><img src="images/products/product-placeholder.png" data-srcset="images/products/xsmall/product-41-2.jpg" class="lazyload" alt="Color Name"></a></li>
                                    <li data-image="images/products/product-41-3.jpg"><a href="#" class="js-color-toggle"><img src="images/products/product-placeholder.png" data-srcset="images/products/xsmall/product-41-3.jpg" class="lazyload" alt="Color Name"></a></li>
                                    <li data-image="images/products/product-41-4.jpg"><a href="#" class="js-color-toggle"><img src="images/products/product-placeholder.png" data-srcset="images/products/xsmall/product-41-4.jpg" class="lazyload" alt="Color Name"></a></li>
                                </ul>
                                <div class="gdw-loader"></div>
                            </div>
                            <div class="prd-info">
                                <div class="prd-tag prd-hidemobile"><a href="#">bigsteps</a></div>
                                <h2 class="prd-title"><a href="product.html">Ottoman</a></h2>
                                <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                                <div class="prd-price">
                                    <div class="price-new">$ 21.00</div>
                                </div>
                                <div class="prd-hover">
                                    <div class="prd-action">
                                        <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                        <div class="prd-links"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                                    </div>
                                    <div class="prd-options prd-hidemobile"><span class="label-options">Sizes:</span>
                                        <ul class="list-options size-swatch">
                                            <li class="active"><span>xs</span></li>
                                            <li><span>s</span></li>
                                            <li><span>m</span></li>
                                            <li><span>l</span></li>
                                            <li><span>xl</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prd prd-has-loader">
                        <div class="prd-inside">
                            <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="images/products/product-placeholder.png" data-srcset="images/products/product-42.jpg" alt="Dining Room Chair" class="js-prd-img lazyload"></a>
                                <div class="label-new">NEW</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                <ul class="list-options color-swatch prd-hidemobile">
                                    <li data-image="images/products/product-42.jpg"><a href="#" class="js-color-toggle"><img src="images/products/product-placeholder.png" data-srcset="images/products/xsmall/product-42.jpg" class="lazyload" alt="Color Name"></a></li>
                                    <li data-image="images/products/product-42-2.jpg"><a href="#" class="js-color-toggle"><img src="images/products/product-placeholder.png" data-srcset="images/products/xsmall/product-42-2.jpg" class="lazyload" alt="Color Name"></a></li>
                                </ul>
                                <div class="gdw-loader"></div>
                            </div>
                            <div class="prd-info">
                                <div class="prd-tag prd-hidemobile"><a href="#">bigsteps</a></div>
                                <h2 class="prd-title"><a href="product.html">Dining Room Chair</a></h2>
                                <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                                <div class="prd-price">
                                    <div class="price-new">$ 100.00</div>
                                </div>
                                <div class="prd-hover">
                                    <div class="prd-action">
                                        <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                        <div class="prd-links"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                                    </div>
                                    <div class="prd-options prd-hidemobile"><span class="label-options">Sizes:</span>
                                        <ul class="list-options size-swatch">
                                            <li class="active"><span>xs</span></li>
                                            <li><span>s</span></li>
                                            <li><span>m</span></li>
                                            <li><span>l</span></li>
                                            <li><span>xl</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prd prd-has-loader">
                        <div class="prd-inside">
                            <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="images/products/product-placeholder.png" data-srcset="images/products/product-43.jpg" alt="Three-legged table" class="js-prd-img lazyload"></a>
                                <div class="label-new">NEW</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                <ul class="list-options color-swatch prd-hidemobile">
                                    <li data-image="images/products/product-43.jpg"><a href="#" class="js-color-toggle"><img src="images/products/product-placeholder.png" data-srcset="images/products/xsmall/product-43.jpg" class="lazyload" alt="Color Name"></a></li>
                                    <li data-image="images/products/product-43-2.jpg"><a href="#" class="js-color-toggle"><img src="images/products/product-placeholder.png" data-srcset="images/products/xsmall/product-43-2.jpg" class="lazyload" alt="Color Name"></a></li>
                                </ul>
                                <div class="gdw-loader"></div>
                            </div>
                            <div class="prd-info">
                                <div class="prd-tag prd-hidemobile"><a href="#">bigsteps</a></div>
                                <h2 class="prd-title"><a href="product.html">Three-legged table</a></h2>
                                <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                                <div class="prd-price">
                                    <div class="price-new">$ 30.00</div>
                                </div>
                                <div class="prd-hover">
                                    <div class="prd-action">
                                        <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                        <div class="prd-links"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                                    </div>
                                    <div class="prd-options prd-hidemobile"><span class="label-options">Sizes:</span>
                                        <ul class="list-options size-swatch">
                                            <li class="active"><span>xs</span></li>
                                            <li><span>s</span></li>
                                            <li><span>m</span></li>
                                            <li><span>l</span></li>
                                            <li><span>xl</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prd prd-has-loader">
                        <div class="prd-inside">
                            <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="images/products/product-placeholder.png" data-srcset="images/products/product-44.jpg" alt="Square table" class="js-prd-img lazyload"></a>
                                <div class="label-new">NEW</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                <ul class="list-options color-swatch prd-hidemobile">
                                    <li data-image="images/products/product-44.jpg"><a href="#" class="js-color-toggle"><img src="images/products/product-placeholder.png" data-srcset="images/products/xsmall/product-44.jpg" class="lazyload" alt="Color Name"></a></li>
                                    <li data-image="images/products/product-44-2.jpg"><a href="#" class="js-color-toggle"><img src="images/products/product-placeholder.png" data-srcset="images/products/xsmall/product-44-2.jpg" class="lazyload" alt="Color Name"></a></li>
                                    <li data-image="images/products/product-44-3.jpg"><a href="#" class="js-color-toggle"><img src="images/products/product-placeholder.png" data-srcset="images/products/xsmall/product-44-3.jpg" class="lazyload" alt="Color Name"></a></li>
                                    <li data-image="images/products/product-44-4.jpg"><a href="#" class="js-color-toggle"><img src="images/products/product-placeholder.png" data-srcset="images/products/xsmall/product-44-4.jpg" class="lazyload" alt="Color Name"></a></li>
                                </ul>
                                <div class="gdw-loader"></div>
                            </div>
                            <div class="prd-info">
                                <div class="prd-tag prd-hidemobile"><a href="#">bigsteps</a></div>
                                <h2 class="prd-title"><a href="product.html">Square table</a></h2>
                                <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                                <div class="prd-price">
                                    <div class="price-new">$ 45.00</div>
                                </div>
                                <div class="prd-hover">
                                    <div class="prd-action">
                                        <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                        <div class="prd-links"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                                    </div>
                                    <div class="prd-options prd-hidemobile"><span class="label-options">Sizes:</span>
                                        <ul class="list-options size-swatch">
                                            <li class="active"><span>xs</span></li>
                                            <li><span>s</span></li>
                                            <li><span>m</span></li>
                                            <li><span>l</span></li>
                                            <li><span>xl</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prd prd-has-loader">
                        <div class="prd-inside">
                            <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="images/products/product-placeholder.png" data-srcset="images/products/product-45.jpg" alt="Square ottoman" class="js-prd-img lazyload"></a>
                                <div class="label-new">NEW</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                <ul class="list-options color-swatch prd-hidemobile">
                                    <li data-image="images/products/product-45.jpg"><a href="#" class="js-color-toggle"><img src="images/products/product-placeholder.png" data-srcset="images/products/xsmall/product-45.jpg" class="lazyload" alt="Color Name"></a></li>
                                    <li data-image="images/products/product-45-2.jpg"><a href="#" class="js-color-toggle"><img src="images/products/product-placeholder.png" data-srcset="images/products/xsmall/product-45-2.jpg" class="lazyload" alt="Color Name"></a></li>
                                    <li data-image="images/products/product-45-3.jpg"><a href="#" class="js-color-toggle"><img src="images/products/product-placeholder.png" data-srcset="images/products/xsmall/product-45-3.jpg" class="lazyload" alt="Color Name"></a></li>
                                    <li data-image="images/products/product-45-4.jpg"><a href="#" class="js-color-toggle"><img src="images/products/product-placeholder.png" data-srcset="images/products/xsmall/product-45-4.jpg" class="lazyload" alt="Color Name"></a></li>
                                </ul>
                                <div class="gdw-loader"></div>
                            </div>
                            <div class="prd-info">
                                <div class="prd-tag prd-hidemobile"><a href="#">bigsteps</a></div>
                                <h2 class="prd-title"><a href="product.html">Square ottoman</a></h2>
                                <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                                <div class="prd-price">
                                    <div class="price-new">$ 25.00</div>
                                </div>
                                <div class="prd-hover">
                                    <div class="prd-action">
                                        <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                        <div class="prd-links"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                                    </div>
                                    <div class="prd-options prd-hidemobile"><span class="label-options">Sizes:</span>
                                        <ul class="list-options size-swatch">
                                            <li class="active"><span>xs</span></li>
                                            <li><span>s</span></li>
                                            <li><span>m</span></li>
                                            <li><span>l</span></li>
                                            <li><span>xl</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prd prd-has-loader">
                        <div class="prd-inside">
                            <div class="prd-img-area"><a href="product.html" class="prd-img"><img src="images/products/product-placeholder.png" data-srcset="images/products/product-46.jpg" alt="Office chair" class="js-prd-img lazyload"></a>
                                <div class="label-new">NEW</div><a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                <ul class="list-options color-swatch prd-hidemobile">
                                    <li data-image="images/products/product-46.jpg"><a href="#" class="js-color-toggle"><img src="images/products/product-placeholder.png" data-srcset="images/products/xsmall/product-46.jpg" class="lazyload" alt="Color Name"></a></li>
                                    <li data-image="images/products/product-46-2.jpg"><a href="#" class="js-color-toggle"><img src="images/products/product-placeholder.png" data-srcset="images/products/xsmall/product-46-2.jpg" class="lazyload" alt="Color Name"></a></li>
                                </ul>
                                <div class="gdw-loader"></div>
                            </div>
                            <div class="prd-info">
                                <div class="prd-tag prd-hidemobile"><a href="#">bigsteps</a></div>
                                <h2 class="prd-title"><a href="product.html">Office chair</a></h2>
                                <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                                <div class="prd-price">
                                    <div class="price-new">$ 15.00</div>
                                </div>
                                <div class="prd-hover">
                                    <div class="prd-action">
                                        <form action="#"><input type="hidden"> <button class="btn" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add To Cart</span></button></form>
                                        <div class="prd-links"><a href="#" class="icon-eye prd-qview-link js-qview-link" data-fancybox data-src="#modalQuickView"></a></div>
                                    </div>
                                    <div class="prd-options prd-hidemobile"><span class="label-options">Sizes:</span>
                                        <ul class="list-options size-swatch">
                                            <li class="active"><span>xs</span></li>
                                            <li><span>s</span></li>
                                            <li><span>m</span></li>
                                            <li><span>l</span></li>
                                            <li><span>xl</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="more-link-wrapper text-center"><a href="#" class="btn-decor">show all</a></div>
            </div>
        </div>