 <!-- BN Slider 1 -->
        <div class="holder fullwidth full-nopad mt-0">
            <div class="container">
                <div class="bnslider-wrapper">
                    <div class="bnslider bnslider--lg keep-scale" id="bnslider-001" data-slick='{"arrows": true, "dots": true}' data-autoplay="false" data-speed="5000" data-start-width="1920" data-start-height="845" data-start-mwidth="480" data-start-mheight="578">
                        <div class="bnslider-slide bnslide-sport-2">
                            <div class="bnslider-image" data-animation="fadeIn" data-animation-delay="0.2s" style="background-image: url('{{ base_url }}/media/slider/slider2.jpg');"></div>
                            <div class="bnslider-image-mobile" data-animation="fadeIn" data-animation-delay="0.2s" style="background-image: url('{{ base_url }}/media/slider/slider2mobile.jpg');"></div>
                            <div class="bnslider-text-wrap bnslider-overlay">
                                <div class="bnslider-text-content txt-right txt-center">
                                    <div class="bnslider-text-content-flex container">
                                        {% comment %} <div class="bnslider-vert">
                                            <div class="bnslider-text bnslider-text--lg" data-animation="fadeInRight" data-animation-delay="0.2s">- 50%</div>
                                            <div class="bnslider-text bnslider-text--sm" data-animation="fadeInRight" data-animation-delay="1s" style="margin-top: 1.5em; font-size: .3em">FOR MAN SPORT CLOTHES</div>
                                            <div class="bnslider-text bnslider-text--xxs" data-animation="fadeInRight" data-animation-delay="1.6s" style="margin-top: 1.6em;">TILL DECEMBER 15</div>
                                            <div class="btn-wrap" data-animation="fadeIn" data-animation-delay="3s"><a href="#" class="btn-decor">shop now<span class="btn-line"></span></a></div>
                                        </div> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bnslider-slide bnslide-sport-1">
                            <div class="bnslider-image" data-animation="fadeIn" data-animation-delay="0.2s" style="background-image: url('{{ base_url }}/media/slider/slider1.jpg');"></div>
                            <div class="bnslider-image-mobile" data-animation="fadeIn" data-animation-delay="0.2s" style="background-image: url('{{ base_url }}/media/slider/slider1mobile.jpg');"></div>
                            <div class="bnslider-text-wrap bnslider-overlay">
                                <div class="bnslider-text-content txt-middle txt-center">
                                    <div class="bnslider-text-content-flex container">
                                        {% comment %} <div class="bnslider-vert border" data-animation="zoomIn" data-animation-delay="0s">
                                            <div class="bnslider-text bnslider-text--lg" data-animation="popIn" data-animation-delay="0.2s">NEW</div>
                                            <div class="bnslider-text bnslider-text--sm" data-animation="fadeIn" data-animation-delay="1s" style="margin-top: 1.5em; font-size: .3em">SPORT SHOES</div>
                                            <div class="bnslider-text bnslider-text--xxs" data-animation="fadeIn" data-animation-delay="1.6s" style="margin-top: 1.6em;">SINCE MAY 15</div>
                                            <div class="btn-wrap" data-animation="fadeIn" data-animation-delay="2s"><a href="#" class="btn-decor">shop now<span class="btn-line"></span></a></div>
                                        </div> {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        

                    </div>
                    <div class="bnslider-loader">
                        <div class="loader-wrap">
                            <div class="dots">
                                <div class="dot one"></div>
                                <div class="dot two"></div>
                                <div class="dot three"></div>
                            </div>
                        </div>
                    </div>
                    <div class="bnslider-arrows container">
                        <div></div>
                    </div>
                    <div class="bnslider-dots container"></div>
                </div>
            </div>
        </div>
        <!-- //BN Slider 1 -->