  <div class="shop-feature-icon"><i class="icon-box3"></i></div>
                            <div class="shop-feature-text">
                                <div class="text1">Free Delivery Across India</div>
                                <div class="text2">More than 25K + Pincodes</div>
                            </div>
                        </a></div>
                    <div class="col-sm-4"><a class="shop-feature">
                            <div class="shop-feature-icon" style="color: white;"><i class="icon-arrow-left-circle"></i></div>
                            <div class="shop-feature-text">
                                <div class="text1" style="color: white;">Hassle Free Return</div>
                                <div class="text2" style="color: white;">No worry ! Safe Transcaction</div>
                            </div>
                        </a></div>
                    <div class="col-sm-4"><a class="shop-feature">
                            <div class="shop-feature-icon" style="color: white;"><i class="icon-call"></i></div>
                            <div class="shop-feature-text">
                                <div class="text1" style="color: white;">24/7 customer support</div>
                                <div class="text2" style="color: white;">Customer happines is our priority </div>
                            </div>
                        </a></div>