         <div class="footer-top container">
            <div class="row lined pt-md-2 pb-md-5 pt-lg-7">
                <div class="col-md-12 col-lg py-2 py-lg-0 text-center text-lg-left">
                    <div class="footer-block">
                        <div class="footer-logo"><a href="{% url 'ipl_landing_page' %}"><img src="{{ base_url }}/static/ipl/SupportTeam.png" class="img-fluid" alt="Spograde LLP"></a></div><br/>
                        <ul class="social-list">
                            <li><a href="http://facebook.com/Spograde" class="icon icon-facebook"></a></li>
                            <li><a href="http://twitter.com/spograde" class="icon icon-twitter"></a></li>
                            <li><a href="http://instagram.com/spogradellp" class="icon icon-instagram"></a></li>                            
                            <li><a href="https://www.linkedin.com/company/spograde-llp/" class="icon icon-linkedin"></a></li><br/>
                            <div class="fb-like" data-href="https://www.facebook.com/Spograde/" data-width="" data-layout="button_count" data-action="recommend" data-size="large" data-share="true"></div>
                        </ul>
                    </div>
                </div>
                <div class="col-md col-lg">
                    <div class="footer-block collapsed-mobile">
                        <div class="title">
                            <h4>Help</h4>
                            <div class="toggle-arrow"></div>
                        </div>
                        <div class="collapsed-content">
                            <ul>
                                <li><a href="{% url 'shipping_policy' %}">Shipping Policy</a></li>
                                <li><a href="{% url 'term_of_use' %}">Terms of Use</a></li>
                                <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                                <li><a href="{% url 'return_refund_policy' %}">Return, Refund & Cancellation Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md col-lg">
                    <div class="footer-block collapsed-mobile">
                        <div class="title">
                            <h4>Information</h4>
                            <div class="toggle-arrow"></div>
                        </div>
                         <div class="collapsed-content">
                            <ul>
                                <li><a href="{% url 'about' %}">About Us</a></li>
                                <li><a href="{% url 'faq' %}">How to Buy</a></li>
                                <li><a href="{% url 'faq' %}">FAQ</a></li>
                                <li><a href="{% url 'about' %}">Careers</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md col-lg pb-3 pb-md-0 text-center-sm">
                    <div class="footer-block">
                        <div class="title">
                            <h4>Let The Cricket Begin</h4>
                        </div>
                        <div class="subscribe-wrap">
                            <div class="subscribe-form">
                                <div class="subscribe-form-text">
                                    <p>Be the first to know about your fascination, including our updates.</p>
                                </div>
                                <form data-toggle="validator" action="/subscribe/" method="POST" class="subscribe-form" id="subscribeForm">
                                    {% csrf_token %}
                                    <div class="form-confirm">
                                    <div class="success-confirm text-center">Thanks! Your message has been sent.<br>We will get back to you soon!</div>
                                    <div class="error-confirm text-center">Oops! There was an error submitting form.<br>Refresh and send again.</div>
                                </div>
                                    <div class="input-group">
                                        <div class="form-control-wrapper"><input type="email" name="email" class="form-control" placeholder="Е-mail address" data-error="Error, that email address is invalid">
                                        <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="input-group-btn"><button type="submit" class="btn btn--input-group"><i class="icon-arrow-right"></i></button></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="payment-icons"><img src="{{ base_url }}/media/demo/payment-card-visa.png" alt="Card Visa"> <img src="{{ base_url }}/media/demo/payment-card-mastecard.png" alt="Master Card"> <img src="{{ base_url }}/media/demo/payment-card-discover.png" alt="Discover"> <img src="{{ base_url }}/media/demo/payment-pytm.png" alt="Paytm"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container footer-bottom">
            <div class="row lined py-2 py-md-3 justify-content-center">
                <div class="col-md-6">
                    <div class="footer-copyright text-center">
                        <p class="footer-copyright-text"><span>© Copyright</span> 2020 <a href="/">Spograde LLP</a>. <span>All rights reserved.</span></p>
                    </div>
                </div>
            </div>
        </div>