  <div class="holder">
            <div class="container">
            <div class="title-with-right">
                <h2 class="h1-style">New Arrival</h2>
                <div class="prd-carousel-tabs justify-content-center js-filters-prd d-none d-md-flex" data-grid="tabCarousel-01">
                <span class="active" data-filter="prd">All</span>
                {% for tag in tags %}
                <span data-filter="{{ tag.slug }}">{{ tag.name }}</span>
                {% endfor %}
                </div>
                <div class="prd-carousel-tabs js-filters-prd-sm d-md-none">
                <span class="filters-label active" data-filter=".prd">All</span>
                {% for tag in tags %}
                <span class="filters-label" data-filter=".{{ tag.slug }}">{{ tag.name }}</span>
                {% endfor %}
                </div>
                </div>
                <div class="prd-grid prd-carousel js-prd-carousel-tab slick-arrows-aside-simple slick-arrows-mobile-lg data-to-show-4 data-to-show-md-3 data-to-show-sm-3 data-to-show-xs-2 js-product-isotope-sm" id="tabCarousel-01" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
                {% for product in products %}
                    <div class="prd prd-has-loader prd {% for tag in product.tags.all %}{{ tag.slug }} {% endfor %}">
                        <div class="prd-inside">
                                    <div class="prd-img-area"><a href="{{ product.get_absolute_url }}" class="prd-img"><img src="{{ base_url }}/media/demo/product-placeholder.png" data-srcset="{{ product.image.url }}" alt="{{ product.title }}" class="js-prd-img lazyload"></a>
                                        {% comment %} <div class="label-sale">-23%</div> {% endcomment %}
                                        <a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                        <ul class="list-options color-swatch prd-hidemobile">
                                            <li data-image="{{ product.image.url }}">
                                            <a href="#" class="js-color-toggle">
                                            <img src="{{ base_url }}/media/demo/product-placeholder.png" data-srcset="{{ product.image.url }}" class="lazyload" alt="{{ product.title }}"></a>
                                            </li>
                                        </ul>
                                        {% comment %} <div class="countdown-box">
                                            <div class="countdown js-countdown" data-countdown="2019/12/31"></div>
                                        </div> {% endcomment %}
                                        <div class="gdw-loader"></div>
                                    </div>
                                    <div class="prd-info">
                                        <div class="prd-tag prd-hidemobile"><a href="category/{{ product.category.slug }}">{{ product.category }}</a></div>
                                        <h2 class="prd-title"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h2>
                                        <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                                        <div class="prd-price">
                                            <div class="price-new">&#8377; {{ product.price }}</div>
                                            <div class="price-old">&#8377; {{ product.price_old }}</div>
                                            <div class="price-comment">You save &#8377; 0</div>
                                        </div>
                                        <div class="prd-hover">
                                            <div class="prd-action">
                                                {% include 'cart/snippets/update-cart.html' with product=product cart=cart %}
                                            </div>
                                            {% comment %} <div class="prd-options prd-hidemobile"><span class="label-options">Sizes:</span>
                                                <ul class="list-options size-swatch">
                                                    <li class="active"><span>xs</span></li>
                                                    <li><span>s</span></li>
                                                    <li><span>m</span></li>
                                                    <li><span>l</span></li>
                                                    <li><span>xl</span></li>
                                                </ul>
                                            </div> {% endcomment %}
                                        </div>
                                    </div>
                                </div>
                    </div>
                {% endfor %}
                 </div><br/>
                <div class="more-link-wrapper text-center"><a href="#" class="btn-decor">show all</a></div>
            </div>
        </div>