<div class="holder">
            <div class="container">
                <div class="collections-wrap row">
                    <div class="col-6 col-sm-4">
                        <div class="collection-item zoom-out">
                            <div class="collection-item-img"><a href="#"><img src="/media/placeholder.png" data-src="{{ base_url }}media/demo/collection-fashion2-01.jpg" class="lazyload" alt="#"></a><span class="collection-item-hover"><span><a href="#" class="btn-decor">shop now</a></span></span></div>
                            <h3 class="collection-item-title"><a href="#">SPORTS SHOES</a></h3>
                            <p>most popular brands</p>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4">
                        <div class="collection-item zoom-out">
                            <div class="collection-item-img"><a href="#"><img src="/media/placeholder.png" data-src="{{ base_url }}media/demo/collection-fashion2-04.jpg" class="lazyload" alt="#"></a><span class="collection-item-hover"><span><a href="#" class="btn-decor">shop now</a> </span></span></div>
                            <h3 class="collection-item-title"><a href="#">NEW ARRIWALS</a></h3>
                            <p>GUCCI CONVERSE</p>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4">
                        <div class="collection-item zoom-out">
                            <div class="collection-item-img"><a href="#"><img src="/media/placeholder.png" data-src="{{ base_url }}media/demo/collection-fashion2-03.jpg" class="lazyload" alt="#"></a><span class="collection-item-hover"><span><a href="#" class="btn-decor">shop now</a> </span></span></div>
                            <h3 class="collection-item-title"><a href="#">SPORT GLASSES</a></h3>
                            <p>Field casual</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>