{% extends "base.html" %}
{% block title %} {{ slug|title }} - Spograde {% endblock %}
{% block content %}
        <div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="/">Home</a></li>
                    <li><span>Category</span></li>
                    <li><span>{{ slug|title }}</span></li>
                </ul>
            </div>
        </div>
        <div class="holder mt-0">
            <div class="container">
                <!-- Two columns -->
                <!-- Page Title -->
                <div class="page-title text-center d-none d-lg-block">
                    <div class="title">
                        <h1>{{ slug }}</h1>
                    </div>
                </div>
                <!-- /Page Title -->
                <div class="row row-flex">
                    <!-- Center column -->
                    <div class="col-lg aside">
                        <div class="prd-grid-wrap">
                            <!-- Filter Row -->
                            <div class="filter-row invisible">
                               
                                <div class="row"></div>
                                    
                            </div>
                            <!-- /Filter Row -->
                            <!-- Products Grid -->
                            {% comment %} <div class="prd-grid product-listing data-to-show-3 data-to-show-md-3 data-to-show-sm-2 js-category-grid"> {% endcomment %}
                                
                            {% for product in category_products %}    
                                {% comment %} <div class="prd prd-has-loader prd-has-countdown">
                                    <div class="prd-inside">
                                        <div class="prd-img-area"><a href="{{ product.get_absolute_url }}" class="prd-img"><img src="{{ base_url }}/media/demo/product-placeholder.png" data-srcset="{{ product.image.url }}" alt="{{ product.title }}" class="js-prd-img lazyload"></a>
                                            {% comment %} <div class="label-sale">-23%</div>
                                            <a href="#" class="label-wishlist icon-heart js-label-wishlist"></a>
                                            <ul class="list-options color-swatch prd-hidemobile">
                                                <li data-image="{{ product.image.url }}">
                                                <a href="#" class="js-color-toggle">
                                                <img src="{{ base_url }}/media/demo/product-placeholder.png" data-srcset="{{ product.image.url }}" class="lazyload" alt="{{ product.title }}"></a>
                                                </li>
                                            </ul>
                                            <div class="gdw-loader"></div>
                                        </div>
                                        <div class="prd-info">
                                            <div class="prd-tag prd-hidemobile"><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></div>
                                            <h2 class="prd-title"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h2>
                                            <div class="prd-rating prd-hidemobile"><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star fill"></i><i class="icon-star"></i></div>
                                            <div class="prd-price">
                                                <div class="price-new">&#8377; {{ product.price }}</div>
                                                <div class="price-old">&#8377; {{ product.price_old }}</div>
                                                <div class="price-comment">You save &#8377; 0</div>
                                            </div>
                                            <div class="prd-hover">
                                                <div class="prd-action">
                                                    {% include 'cart/snippets/update-cart.html' with product=product cart=cart %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> {% endcomment %}

                            {% if forloop.counter|divisibleby:2 %}    
                            

                            <div class="holder boxed" style="margin-bottom:20px;">
                                <div class="container"><a href="{{ product.get_absolute_url }}" class="category-with-bg">
                                <div class="category-with-bg-image"><img src="{{ base_url }}/media/demo/product-placeholder.png" data-srcset="{{ product.image.url }}" alt="{{ product.title }}" class="js-prd-img lazyload"></div>

                                <div class="category-with-bg-text">
                                <div style="position: relative; float: left;">
                                <h1 class="category-with-bg-title" style="text-align: center; margin-bottom: 10px; "><b> {{ product.title }} </b></h1>
                                <p class="category-with-bg-subtitle" style="text-align: center; margin: 0px; font-size: 22px; font-weight: 400;"> {{ product.short_description }}</p>
                                <p class="category-with-bg-subtitle" style="text-align: center; color:grey; margin: 15px 0 20px 0; font-size: 18px; font-weight: 400;">INR {{ product.price }}</p>
                                <button class="btn btn--animate loading-emulate btn--lg"><span class="text-sent">VIEW DETAILS</span><i class="icon-handbag"></i><span>VIEW DETAILS</span></button>
                            </div>
                            </div>
                            </a></div>
                            </div>
                            
                            {% else %}
                            
                              <div class="holder boxed" style="margin-bottom:20px;">
                                <div class="container"><a href="{{ product.get_absolute_url }}" class="category-with-bg">
                               

                                <div class="category-with-bg-text">
                                <div style="position: relative; float: left;">
                                <h1 class="category-with-bg-title" style="text-align: center; margin-bottom: 10px; "><b> {{ product.title }} </b></h1>
                                <p class="category-with-bg-subtitle" style="text-align: center; margin: 0px; font-size: 22px; font-weight: 400;"> {{ product.short_description }}</p>
                                <p class="category-with-bg-subtitle" style="text-align: center; color:grey; margin: 15px 0 20px 0; font-size: 18px; font-weight: 400;">INR {{ product.price }}</p>
                                <button class="btn btn--animate loading-emulate btn--lg"><span class="text-sent">VIEW DETAILS</span><i class="icon-handbag"></i><span>VIEW DETAILS</span></button>
                            </div>
                            </div>
                             <div class="category-with-bg-image"><img src="{{ base_url }}/media/demo/product-placeholder.png" data-srcset="{{ product.image.url }}" alt="{{ product.title }}" class="js-prd-img lazyload"></div>
                            </a></div>
                            </div>

                            {% endif %}


                            {% endfor %}
                            {% comment %} </div> {% endcomment %}
                            {% comment %} <div class="loader-wrap">
                                <div class="dots">
                                    <div class="dot one"></div>
                                    <div class="dot two"></div>
                                    <div class="dot three"></div>
                                </div>
                            </div> {% endcomment %}
                            <!-- /Products Grid
                            https://simpleisbetterthancomplex.com/tutorial/2016/08/03/how-to-paginate-with-django.html
                             -->
                            {% comment %} <div class="show-more d-flex mt-4 mt-md-6 justify-content-center align-items-start"><a href="#" class="btn btn--alt js-product-show-more" data-load="ajax/ajax-products-load.html">show more</a> {% endcomment %}
                            </div>
                        </div>
                    </div>
                    <!-- /Center column -->
                </div>
                <!-- /Two columns -->
            </div>
        </div>
{% endblock %}