
<div class="cart-table-prd cart-instance">
<div class="cart-table-prd-image"><a href="{{ instance.get_absolute_url }}"><img src="{{ instance.image.url }}" alt="{{ instance.title }}"></a></div>
<div class="cart-table-prd-name">
    <h5><a href="{{ instance.category.get_absolute_url }}">{{ instance.category }}</a></h5>
    <h2><a href="{{ instance.get_absolute_url }}">{{ instance.title }}</a></h2>
</div>
{% comment %} Definately a font added  {% endcomment %}
<div class="cart-table-prd-price"><span>price:</span> <b>&#8377; {{ instance.price }}</b></div>
<div class="cart-table-prd-action">
<a href="{{ instance.get_absolute_url }}" class="btn btn-primary my-2">View Again</a>
</div>
</div>