{% extends "base.html" %}
{% block title %} Account - Spograde {% endblock %}
{% block content %}
<div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><span>My account</span></li>
                </ul>
            </div>
        </div><br/>
        <div class="holder mt-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 aside aside--left">
                        <div class="list-group"><a href="/account" class="list-group-item">Account Details</a> 
                        <a href="{% url "billing-payment-method" %}" class="list-group-item">Payment Methods</a> 
                        <a href="{% url "addresses" %}" class="list-group-item">Addresses</a> 
                        <a href="{% url "password_change" %}" class="list-group-item">Change Password</a> 
                        <a href="{% url "orders:list" %}" class="list-group-item active">Order History</a> 
                        <a href="{% url "account:user-update" %}" class="list-group-item">Update Details</a> 
                        {% comment %} <a href="#" class="list-group-item">Compare Products</a> {% endcomment %}</div>
                    </div>
                    <div class="col-md-9 aside">
                        <h2>Order Details</h2>
                        <div class="row">                        
                            <div class="col-md-12">
                            <article class="card order-group">
                            <header class="card-header">
                                <b class="d-inline-block mr-3">Order ID: {{ object.order_id|upper }}</b>
                                <span>Date: <b>{{ object.timestamp }}</b></span>
                                &nbsp;&nbsp;&nbsp;<span>Status: <b>{{ object.get_status }}</b></span>
                            </header>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h6 class="text-muted">Payment</h6>
                                        <span class="text-success">
                                            <i class="icon icon-lock"></i>
                                            {% if order.status == 'cod'%}
                                            Cash on Delivery
                                            {% elif order.status == 'paytm' %}
                                            {{ order.status|title }} | Paytm 
                                            {% else %}
                                            {{ order.status|title }}
                                            {% endif %}
                                        </span><br/>
                                        <span class="b">Total: <b>&#8377;{{ object.total }}</b> </span>
                                        </p>
                                        
                                    </div>
                                    <div class="col-md-4">
                                        <h6 class="text-muted">Billing Address</h6>
                                        <p>{{ object.billing_address_final }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <h6 class="text-muted">Shipping address</h6>
                                        <p> {{ object.shipping_address_final }}  </p>
                                    </div>
                                </div> <!-- row.// -->
                                <hr>
                                 <div class="table-responsive">
                                <table class="table table-hover">
                                <tbody>
                                    {% for product in object.cart.products.all %}
                                    <tr>
                                        <td width="65">
                                            <img src="{{ product.image.url }}" width="60px" height="60px" class="img-xs border">
                                        </td>
                                        <td> 
                                            <a href="/products/{{ product.slug }}"><p class="title mb-0">{{ product }}</p></a>
                                            <var class="price text-muted">{{ product.price }}</var>
                                        </td>
                                        {% if object.cart.p_type.all %}
                                        {% for p_type in object.cart.p_type.all %}                                        
                                        <td>
                                        {% if object.cart.p_size.all %}
                                        {% for p_size in object.cart.p_size.all %}
                                        {{ p_size.short_name_to_display }}
                                        {% endfor %}
                                        {% endif %}
                                         <br> {{ p_type.title }} </td>
                                        {% endfor %}
                                        {% else %}
                                        <td> Seller <br> Spograde LLP </td>
                                        {% endif %}
                                        <td width="250">  <a href="/orders/track/{{ object.order_id }}" class="btn btn-outline-primary">Track order</a></td>
                                    </tr>
                                    {% if not forloop.last %}, {% endif %}{% endfor %}
                                 </tbody></table>
                            </div> <!-- table-responsive .end// -->
                            </div> <!-- card-body .// -->
                            </article> 
                            </div>

                        </div>             
                    </div>
                </div>
            </div>
        </div>
    </div><br/>


{% endblock %}










{% comment %} {% extends "base.html" %}


{% block content %}





 <div class='row'>
    <div class='col-12 col-md-6 mx-auto'>
         <h1>Order {{ object.order_id }}</h1>
          <hr/>
    </div>
</div>

<div class='row'>
    <div class='col-12 col-md-6 mx-auto'>
<p>Items: {% for product in object.cart.products.all %}{{ product }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
<p>Shipping Address: {{ object.shipping_address_final }}</p>
<p>Billing Address: {{ object.billing_address_final }}</p>
<p>Subtotal: {{ object.cart.total }}</p>
<p>Shipping Total: {{ object.shipping_total }}</p>
<p>Order Total: {{ object.total }}</p>
<p>Order Status: {{ object.get_status }}</p>
</div>


{% endblock %} {% endcomment %}