{% extends "base.html" %}
{% block title %} Account - Spograde {% endblock %}
{% block content %}
<div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><span>My account</span></li>
                </ul>
            </div>
        </div><br/>
        <div class="holder mt-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 aside aside--left">
                        <div class="list-group"><a href="/account" class="list-group-item">Account Details</a> 
                        <a href="{% url "billing-payment-method" %}" class="list-group-item">Payment Methods</a> 
                        <a href="{% url "addresses" %}" class="list-group-item">Addresses</a> 
                        <a href="{% url "password_change" %}" class="list-group-item">Change Password</a> 
                        <a href="{% url "orders:list" %}" class="list-group-item active">Order History</a> 
                        <a href="{% url "account:user-update" %}" class="list-group-item">Update Details</a> 
                        {% comment %} <a href="#" class="list-group-item">Compare Products</a> {% endcomment %}</div>
                    </div>
                    <div class="col-md-9 aside">
                        <h2>Order History</h2>
                        <div class="row">                          
                            <main class="col-md-12">
                            <article class="card">
                            <header class="card-header">
                                <strong class="d-inline-block mr-3">Total Order : {{ object_list.count }}</strong>
                            </header>
                            <div class="table-responsive">
                            <table class="table table-hover">
                                <tbody>
                                {% for object in object_list %}
                                <tr>
                                    <td width="65">
                                        <img src="/media/{{ object.cart.products.first.image }}" width="60px" height="60px" class="img-xs border">
                                    </td>
                                    <td> 
                                        <h4 class="title mb-0"> {{ object.cart.products.first.title }} </h4>
                                        <var class="price text-muted">{{ object.cart.products.first.status|title }}</var>
                                    </td>
                                    <td>INR {{ object.total }} <br> {{ object.get_status }} </td>
                                    <td width="250"> <a href="/orders/track/{{ object.order_id }}" class="btn btn-outline-primary">Track order</a> <a href="{{ object.get_absolute_url }}" class="btn btn-light"> Details </a> </td>
                                </tr>
                                 {% empty %}
                            <tr><td colspan="3"><p class='lead'>No orders yet.</td></tr>
                            {% endfor %}
                            </tbody></table>
                            </div> <!-- table-responsive .end// -->
                            </article> <!-- order-group.// --> 
                        </main>

                        </div>             
                    </div>
                </div>
            </div>
        </div>
    </div><br/>


{% endblock %}








{% comment %} 
{% extends "base.html" %}


{% block content %}


<div class='row'>
    <div class='col-12'>
        <h1>Orders</h1>
    </div>
</div>
<div class='row'>
    <div class='col'>
        <table class='table'>
            <thead><th>Order Id</th><th>Status</th><th>Total</th></thead>

            <tbody>
                {% for object in object_list %}
                    <tr>
                        <td><a href='{{ object.get_absolute_url }}'>{{ object.order_id }}</a></td>
                        <td>{{ object.get_status }}</td>
                        <td>{{ object.total }}</td>
                    </tr>
                {% empty %}
                <tr><td colspan="3"><p class='lead'>No orders yet.</td></tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>



{% endblock %} {% endcomment %}