{% extends "base.html" %}
{% block title %} Account - Spograde {% endblock %}
{% block content %}
<div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><span>My account</span></li>
                </ul>
            </div>
        </div><br/>
        <div class="holder mt-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 aside aside--left">
                        <div class="list-group"><a href="/account" class="list-group-item">Account Details</a> 
                        <a href="{% url "billing-payment-method" %}" class="list-group-item">Payment Methods</a> 
                        <a href="{% url "addresses" %}" class="list-group-item">Addresses</a> 
                        <a href="{% url "password_change" %}" class="list-group-item">Change Password</a> 
                        <a href="{% url "orders:list" %}" class="list-group-item active">Order History</a> 
                        <a href="{% url "account:user-update" %}" class="list-group-item">Update Details</a> 
                        {% comment %} <a href="#" class="list-group-item">Compare Products</a> {% endcomment %}</div>
                    </div>
                    <div class="col-md-9 aside">
                        <div class="row">                        
                            <div class="col-md-12">
                            
                            <article class="card">
                            <header class="card-header"> My Orders / Tracking </header>
                            <div class="card-body">
                        <h5>Order ID: <b>{{ object.order_id|upper }}</b></h5>
                        <article class="card">
                            <div class="card-body row no-gutters">
                                <div class="col">
                                    <strong>Delivery Estimate time:</strong> <br> {% if object.status == 'delivered' %} <font color="green">Delivered</font> {% else %} {{object.estimated_delivery }} {% endif %} 
                                </div>
                                <div class="col">
                                    <strong>Shipping company:</strong> <br> Delhivery Services<br/> +911244718900
                                </div>
                                <div class="col">
                                    <strong>Status:</strong> <br> Picked by the courier
                                </div>
                                <div class="col">
                                    <strong>Tracking #:</strong><br/> {% if delhivery_awb_id is not None %} {{ delhivery_awb_id }} {% else %} Not assigned {% endif %} <br> 
                                </div>
                            </div>
                        </article>

                        <div class="tracking-wrap">
                            <div class="step {% if object.status %}active{% endif %}">
                                <span class="icon"> <i class="icon-handbag"></i> </span>
                                <span class="text">Order confirmed</span>
                            </div> <!-- step.// -->
                            <div class="step {% if object.status == 'picked' or object.status == 'shipped' or object.status == 'delivered' %}active{% endif %}">
                                <span class="icon"> <i class="icon-person2"></i> </span>
                                <span class="text"> Picked by courier</span>
                            </div> <!-- step.// -->
                            <div class="step {% if object.status == 'shipped' or object.status == 'delivered' %}active{% endif %}">
                                <span class="icon"> <i class="icon-location"></i> </span>
                                <span class="text"> On the way </span>
                            </div> <!-- step.// -->
                            <div class="step {% if object.status == 'delivered' %}active{% endif %}">
                                <span class="icon"> <i class="icon-box3"></i> </span>
                                <span class="text">Order Delivered</span>
                            </div> <!-- step.// -->
                        </div>


                        <hr>
                       
                         <div class="table-responsive">
                                <table class="table table-hover">
                                <tbody>
                                    {% for product in object.cart.products.all %}
                                    <tr>
                                        <td width="65">
                                            <img src="{{ product.image.url }}" width="60px" height="60px" class="img-xs border">
                                        </td>
                                        <td> 
                                            <p class="title mb-0">{{ product }}</p>
                                            <var class="price text-muted">{{ product.price }}</var>
                                        </td>
                                        {% if object.cart.p_type.all %}
                                        {% for p_type in object.cart.p_type.all %}                                        
                                        <td>
                                        {% if object.cart.p_size.all %}
                                        {% for p_size in object.cart.p_size.all %}
                                        {{ p_size.short_name_to_display }}
                                        {% endfor %}
                                        {% endif %}
                                         <br> {{ p_type.title }} </td>
                                        {% endfor %}
                                        {% else %}
                                        <td> Seller <br> Spograde LLP </td>
                                        {% endif %}
                                    </tr>
                                    {% if not forloop.last %}, {% endif %}{% endfor %}
                                 </tbody></table>
                            </div> <!-- table-responsive .end// -->


                       <div class="card-body border-top">
                        <p class="icontext"><i class="icon-location"></i> Free Delivery within 1-2 weeks</p>
                    </div>

                        <a href="{% url 'orders:list' %}" class="btn btn-light">  Back to orders</a>
                            </div> <!-- card-body.// -->
                        </article>
                            </div>

                        </div>             
                    </div>
                </div>
            </div>
        </div>
    </div><br/>


{% endblock %}