/* @font-face{font-family:Biotif-Regular;font-style:"normal";font-weight:300;src:local("Biotif"),local("Biotif-Regular"),url(biotif/Biotif-Regular.ttf) format("ttf")}@font-face{font-family:Biotif-Medium;font-style:"normal";font-weight:500;src:local("Biotif Medium"),local("Biotif-Medium"),url(biotif/Biotif-Medium.ttf) format("ttf")}@font-face{font-family:Biotif-Bold;font-style:"normal";font-weight:700;src:local("Biotif Bold"),local("Biotif-Bold"),url(biotif/Biotif-Bold.ttf) format("ttf")} */
.errorlist {
    padding: 7px 0px;
    margin: 0;
    border: 0;
    border-radius: 0;
    color: #d6641e;
    list-style: none;
    }
.background-color {
    color: #000;
    font-size: 17px;
    font-weight: bold;
    max-width: 700px;
    text-align: center;
    background: rgba(255, 253, 160, 1);
    background: -webkit-linear-gradient( left, #00ffff 0%, #97fba0 25%, #97b1fb 50%, #00ffff 100%) repeat;
    -webkit-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-fill-color: transparent;
    -webkit-animation-name: masked-animation;
    -webkit-animation-duration: 50s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    }

    @-webkit-keyframes masked-animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -8000px -3000px;
    }
    }
    .content {
    /* max-width: 470px; */
    padding: 45px 30px;
    /* font-size: 18px; */
    line-height: 20px;
    /* font-weight: 600; */
    color: #000;
    border-radius: 4px;
    overflow: hidden;
    /* transform: translateY(-50px); */
    transition: all .7s;
    }

.review-item {
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px; }
    .review-item p {
      margin-top: 15px; }

  .review-item_author {
    margin-bottom: 0; }
  
  .review-item_rating {
    margin-top: 5px; }
  
  .review-item_rating [class*='icon'], .review-item_rating span, .tab-pane .prd-rating [class*='icon'], .tab-pane .prd-rating span {
    display: inline-block;
    vertical-align: top; }
  
  .review-item_rating span:not(:first-child), .tab-pane .prd-rating span:not(:first-child) {
    padding-left: 5px; }
  
  .review-item_rating [class*='icon'], .tab-pane .prd-rating [class*='icon'] {
    color: #b4b4b4;
    font-size: 13px; }
    .review-item_rating [class*='icon'].fill, .tab-pane .prd-rating [class*='icon'].fill {
      color: #27c7d8; }
  
  .review-item + .review-item {
    margin-top: 0;
    border-top: 0; }
  
  .review-item + *:not(.review-item) {
    margin-top: 30px; }
  
  .prd-rating-value {
    font-size: 64px;
    line-height: 1.1em;
    font-weight: bold; }
  
  .card-body-rating {
    padding-top: 30px;
    padding-bottom: 30px; }
  
  .card-body-progress h6 {
    margin-bottom: 12px; }
  
  .card-body .prd-rating [class*='icon'] {
    font-size: 24px; }
  
  .card-body .prd-rating [class*='icon']:not(.fill) {
    opacity: 0.2; }
  
  .review-item .btn {
    padding-top: 6px;
    padding-bottom: 6px; }
  
  .review-item_date {
    font-weight: 600;
    font-size: 13px;
    color: #bcbcbc;
    text-transform: uppercase; }



    /* button */



:root {
	--white: #ffffff;
	--light: #f0eff3;
	--black: #000000;
	--dark-blue: #1f2029;
	--dark-light: #353746;
	--red: #5cbcd6;
	--yellow: #f8ab37;
	--grey: #ecedf3;
}


::selection {
	color: var(--white);
	background-color: var(--black);
}
::-moz-selection {
	color: var(--white);
	background-color: var(--black);
}
mark{
	color: var(--white);
	background-color: var(--black);
}
.section {
    position: relative;
	width: 100%;
	display: block;
	text-align: center;
	margin: 0 auto;
}
.over-hide {
    overflow: hidden;
}
.z-bigger {
    z-index: 100 !important;
}





[type="checkbox"]:checked,
[type="checkbox"]:not(:checked),
[type="radio"]:checked,
[type="radio"]:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
	position: relative;
	width: 70px;
	display: inline-block;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	margin: 17px 0;
	margin-top: 100px;
	height: 6px;
	border-radius: 4px;
	background-image: linear-gradient(298deg, #5cbcd6, #5cbcd6);
	z-index: 100 !important;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
	position: absolute;
	font-family: 'unicons';
	cursor: pointer;
	top: -17px;
	z-index: 2;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox:not(:checked) + label:before {
	content: '\eac1';
	left: 0;
	color: var(--grey);
	background-color: var(--dark-light);
	box-shadow: 0 4px 4px rgba(0,0,0,0.15), 0 0 0 1px rgba(26,53,71,0.07);
}
.checkbox:checked + label:before {
	content: '\eb8f';
	left: 30px;
	color: var(--yellow);
	background-color: var(--dark-blue);
	box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
}

.checkbox:checked ~ .section .container .row .col-12 p{
	color: var(--dark-blue);
}


.checkbox-tools:checked + label,
.checkbox-tools:not(:checked) + label{
	position: relative;
    display: inline-block;
    padding: -8px;
    width: 180px;
    font-size: 14px;
    /* line-height: 20px; */
    letter-spacing: 1px;
    /* margin: 0 auto; */
    /* margin-left: 5px; */
    /* margin-right: 5px; */
    margin-top: 5px;
    margin-bottom: 10px;
    /* text-align: center; */
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--white);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}
.checkbox-tools:not(:checked) + label{
	background-color: var(--dark-light);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.checkbox-tools:checked + label{
	background-color: transparent;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-tools:not(:checked) + label:hover{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-tools:checked + label::before,
.checkbox-tools:not(:checked) + label::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-image: linear-gradient(298deg, #5cbcd6, #5cbcd6);
	z-index: -1;
}
.checkbox-tools:checked + label .uil,
.checkbox-tools:not(:checked) + label .uil{
	font-size: 24px;
	line-height: 24px;
	padding-bottom: 10px;
}

.checkbox:checked ~ .section .container .row .col-12 .checkbox-tools:not(:checked) + label{
	background-color: var(--light);
	color: var(--dark-blue);
	box-shadow: 0 1x 4px 0 rgba(0, 0, 0, 0.05);
}

.checkbox-budget:checked + label,
.checkbox-budget:not(:checked) + label{
	position: relative;
	display: inline-block;
	padding: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 260px;
	font-size: 52px;
	line-height: 52px;
	font-weight: 700;
	letter-spacing: 1px;
	margin: 0 auto;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	text-align: center;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	text-transform: uppercase;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
	-webkit-text-stroke: 1px var(--white);
    text-stroke: 1px var(--white);
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    color: transparent;
}
.checkbox-budget:not(:checked) + label{
	background-color: var(--dark-light);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.checkbox-budget:checked + label{
	background-color: transparent;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-budget:not(:checked) + label:hover{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-budget:checked + label::before,
.checkbox-budget:not(:checked) + label::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-image: linear-gradient(138deg, var(--red), var(--yellow));
	z-index: -1;
}
.checkbox-budget:checked + label span,
.checkbox-budget:not(:checked) + label span{
	position: relative;
	display: block;
}
.checkbox-budget:checked + label span::before,
.checkbox-budget:not(:checked) + label span::before{
	position: absolute;
	content: attr(data-hover);
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	-webkit-text-stroke: transparent;
    text-stroke: transparent;
    -webkit-text-fill-color: var(--white);
    text-fill-color: var(--white);
    color: var(--white);
	-webkit-transition: max-height 0.3s;
	-moz-transition: max-height 0.3s;
	transition: max-height 0.3s;
}
.checkbox-budget:not(:checked) + label span::before{
	max-height: 0;
}
.checkbox-budget:checked + label span::before{
	max-height: 100%;
}


.link-to-page {
	position: fixed;
    top: 30px;
    right: 30px;
    z-index: 20000;
    cursor: pointer;
    width: 30px;
}
.link-to-page img{
	width: 100%;
	height: auto;
	display: block;
}
.custom-select2 {
display: inline-block;
width: 100%;
height: calc(2.25rem + 2px);
padding: 0.375rem 10.75rem 0.375rem 0.75rem;
line-height: 1.5;
color: #000000;
vertical-align: middle;
background-size: 8px 10px;
border: 1px solid #ced4da;
background-color: #5cbcd6;
background:  url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -3 6 10'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right -0.25rem;   
border-radius: .25rem;
appearance: none;
background-color: transparent;
box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2);

}
