{% extends "base.html" %}
{% block title %} Update Account Details - Spograde {% endblock %}
{% block content %}

<div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><span>My account</span></li>
                </ul>
            </div>
        </div><br/>
        <div class="holder mt-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 aside aside--left">
                         <div class="list-group"><a href="/account" class="list-group-item">Account Details</a> 
                        <a href="{% url "billing-payment-method" %}" class="list-group-item">Payment Methods</a> 
                        <a href="{% url "addresses" %}" class="list-group-item">Addresses</a> 
                        <a href="{% url "password_change" %}" class="list-group-item">Change Password</a> 
                        <a href="{% url "orders:list" %}" class="list-group-item">Order History</a> 
                        <a href="{% url "account:user-update" %}" class="list-group-item active">Update Details</a> 
                        {% comment %} <a href="#" class="list-group-item">Compare Products</a> {% endcomment %}</div>
                    </div>
                    <div class="col-md-9 aside">
                        {% comment %} <h2>Account Details</h2> {% endcomment %}
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        {% if title %} <h3>{{ title }}</h3> {% endif %}

                                        <form method='POST' action='{% if action_url %}{{ action_url }}{% endif %}'> {% csrf_token %}
                                        {% if next_url %}
                                        <input type='hidden' name='next' value='{{ next_url }}' />
                                        {% endif %}
                                      {{ form.as_p }}
                                      <label for='email'>Email</label>
                                      <input type='text' id='email' class='form-control disabled' value='{{ request.user.email }}' disabled="disabled" /><span class='help-text'>Cannot change email</span><br/>
                                      <button type='submit' class='btn btn-default my-3'>Save</button>
                                      <a href='{% url "password_change" %}'>Change Password</a>
                                    </form>

                                        
                                    </div>
                                </div>
                            </div>
                        </div>             
                    </div>
                </div>
            </div>
        </div>
    </div><br/>
</div>
{% endblock %}