{% extends "base.html" %}
{% block title %} Account - Spograde {% endblock %}
{% block content %}
<div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><span>My account</span></li>
                </ul>
            </div>
        </div><br/>
        <div class="holder mt-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 aside aside--left">
                        <div class="list-group"><a href="/account" class="list-group-item active">Account Details</a> 
                        <a href="{% url "billing-payment-method" %}" class="list-group-item">Payment Methods</a> 
                        <a href="{% url "addresses" %}" class="list-group-item">Addresses</a> 
                        <a href="{% url "password_change" %}" class="list-group-item">Change Password</a> 
                        <a href="{% url "orders:list" %}" class="list-group-item">Order History</a> 
                        <a href="{% url "account:user-update" %}" class="list-group-item">Update Details</a> 
                        {% comment %} <a href="#" class="list-group-item">Compare Products</a> {% endcomment %}</div>
                    </div>
                    <div class="col-md-9 aside">
                        <h2>Account Details</h2>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h3>Personal Info</h3>
                                        <p><b>First Name:</b> {{ request.user.full_name }}<br><b>E-mail:</b> {{ request.user.email }} <br><b>Phone:</b> {{ request.user.phone }} </p>
                                        <div class="mt-2 clearfix"><a href="{% url "account:user-update" %}" class="link-icn"><i class="icon-pencil"></i>Update Details</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>             
                    </div>
                </div>
            </div>
        </div>
    </div><br/>


{% endblock %}