<form class='form-product-ajax' method='POST' action='{% url "cart:update" %}' data-endpoint='{% url "cart:update" %}' class="form"> {% csrf_token %}
    <input class='cart-item-product-id' type='hidden' name='product_id' value='{{ product_id }}' />
      <button type='submit' class='btn btn-link btn-sm' style="padding:0px;cursor: pointer;"><i class="icon icon-cross"> </i> </button>
    </span>
</form>