
{% extends "base.html" %}
{% block title %} Addresses - Spograde {% endblock %}
{% block content %}

<div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><span>Address</span></li>
                </ul>
            </div>
        </div><br/>
        <div class="holder mt-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 aside aside--left">
                         <div class="list-group"><a href="/account" class="list-group-item">Account Details</a> 
                        <a href="{% url "billing-payment-method" %}" class="list-group-item">Payment Methods</a> 
                        <a href="{% url "addresses" %}" class="list-group-item active">Addresses</a> 
                        <a href="{% url "password_change" %}" class="list-group-item">Change Password</a> 
                        <a href="{% url "orders:list" %}" class="list-group-item">Order History</a> 
                        <a href="{% url "account:user-update" %}" class="list-group-item">Update Details</a> 
                        {% comment %} <a href="#" class="list-group-item">Compare Products</a> {% endcomment %}</div>
                    </div>
                    <div class="col-md-9 aside">
                        {% comment %} <h2>Account Details</h2> {% endcomment %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h3>Address{% if object_list.count > 1%}es{% endif %} <small><a href='{% url "address-create" %}'>Create New</a></small></h3>
                                        
                                        {% for obj in object_list %}
                                        <div class='col-12 col-md-12 my-12'>
                                            <div class="card">
                                              <div class="card-body">
                                                <h4 class="card-title">{{ obj }}</h4> 
                                                <small>{{ obj.get_address_type_display }}</small><br/>
                                                <br/>
                                                <h5>Address</h5>
                                                {{ obj.get_address|linebreaks }}
                                                
                                                <a href='{{ obj.get_absolute_url }}' class='btn btn-default'>Edit</a>
                                              </div>
                                            </div>
                                        </div>
                                        <br/>
                                    {% empty %}
                                    <p class='lead text-center'><a href='{% url "address-create" %}'>Create New</a></p>
                                    {% endfor %}

                                    </div>
                                </div>
                            </div>
                        </div>             
                    </div>
                </div>
            </div>
        </div>
    </div><br/>
</div>

{% comment %} 
<div class='row'>
<div class='col-12'>

<hr/>
</div>
</div>
<div class='row'>
        {% for obj in object_list %}
            <div class='col-12 col-md-3 my-3'>
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">{{ obj }}</h4> 
                     <small>{{ obj.get_address_type_display }}</small><br/>
                     <br/>
                     <h5>Address</h5>
                     {{ obj.get_address|linebreaks }}
                    
                    <a href='{{ obj.get_absolute_url }}' class='btn btn-default'>Edit</a>
                  </div>
                </div>
            </div>
        {% empty %}
         <p class='lead text-center'><a href='{% url "address-create" %}'>Create New</a></p>
        {% endfor %}
</div> {% endcomment %}
{% endblock %}