{% if address_qs.exists %}
        <form method='POST' action='{{ action_url }}'> {% csrf_token %}
             {% if next_url %}
            <input type='hidden' name='next' value='{{ next_url }}' />
            {% endif %}
            {% if address_type %}
            <input type='hidden' name='address_type' value='{{ address_type }}' />
            {% endif %}
{% comment %} 
            <div class="col-sm-6">
                                    <div class="clearfix"><input id="radio1" value="" name="radio3" type="radio" class="radio" checked="checked"> <label for="radio1">Radio Button 1</label></div>
                                    <div class="clearfix"><input id="radio2" value="" name="radio3" type="radio" class="radio"> <label for="radio2">Radio Button 1</label></div>
                                    <div class="clearfix"><input id="radio3" value="" name="radio3" type="radio" class="radio"> <label for="radio3">Radio Button 1</label></div>
                                </div> {% endcomment %}

            {% for address in address_qs %}
                
                <div class="clearfix">
                    <input id='address-{{ address.id }}' type='radio' class="radio" name='shipping_address' value='{{ address.id }}' />
                     <label for='address-{{ address.id }}'>
                        {{ address.get_short_address }}
                </label></div>


            {% endfor %}
            <button type='submit' class='btn btn-success'>Use Address</button>
        </form>
{% endif %}