{% extends "base.html" %}
{% block title %} Contact Us {% endblock %}
{% block content %}
 <div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="/">Home</a></li>
                    <li><span>Contact Us</span></li>
                </ul>
            </div>
        </div>
        <div class="holder mt-0">
            <div class="container">
                <!-- Page Title -->
                <div class="page-title text-center">
                    <div class="title">
                        <h1>Contact Us</h1>
                    </div>
                </div>
                <!-- /Page Title -->
                <div class="row vert-margin-double justify-content-center">
                    <div class="col-sm-6 col-lg-4">
                        <h2>Contact us any time for any questions</h2>
                        <div class="contact-info">
                            <div class="contact-info-icon"><i class="icon-mobile"></i></div>
                            <div class="contact-info-title">CALL US:</div>
                            <div class="contact-info-text">+91-99102-80162</div>
                        </div>
                        <div class="contact-info">
                            <div class="contact-info-icon"><i class="icon-clock"></i></div>
                            <div class="contact-info-title">HOURS:</div>
                            <div class="contact-info-text">Mon-Fri 9 AM-8 PM <br/> Sat 9 AM-6 PM</div>
                        </div>
                        <div class="contact-info">
                            <div class="contact-info-icon"><i class="icon-mail"></i></div>
                            <div class="contact-info-title">E-MAIL:</div>
                            <div class="contact-info-text"><a href="mailto:contact@spograde.com"></a>contact@spograde.com</div>
                        </div>
                          <div class="contact-info">
                            <div class="contact-info-icon"><i class="icon-arrow-right"></i></div>
                            <div class="contact-info-title">COMPANY:</div>
                            <div class="contact-info-text">Spograde LLP</div>
                        </div>
                        <div class="contact-info">
                            <div class="contact-info-icon"><i class="icon-location"></i></div>
                            <div class="contact-info-title">ADDRESS:</div>
                            <div class="contact-info-text">G136, Second Floor, Gali No. 17, Zakir Nagar, Okhala New Delhi 110025, IN</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 offset-lg-1">
                        <form data-toggle="validator" action="{% url 'contact' %}" method="POST" class="contact-form" id="contactForm">
                            {% csrf_token %}
                            <div class="form-confirm">
                                <div class="success-confirm text-center">Thanks! Your message has been sent.<br>We will get back to you soon!</div>
                                <div class="error-confirm text-center">Oops! There was an error submitting form.<br>Refresh and send again.</div>
                            </div>
                            <div class="form-group"><label class="text-dark"><span class="required">*</span>NAME</label> <input type="text" name="name" class="form-control" data-required-error="Please fill the field" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group"><label class="text-dark"><span class="required">*</span>EMAIL</label> <input type="text" name="email" class="form-control" data-error="Error, that email address is invalid" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group"><label class="text-dark"><span class="required">*</span>MESSAGE</label> <textarea class="form-control textarea--height-100" name="message" data-required-error="Please fill the field" required></textarea>
                                <div class="help-block with-errors"></div>
                            </div><button class="btn mt-1">send message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="holder fullwidth">
            <div class="container px-0">
                <div class="contact-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3504.098235980128!2d77.27652211541965!3d28.56681269380258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce38e90716659%3A0xcd9ee085aaf81c3b!2sStreet%20Number%2017%2C%20Zakir%20Nagar%2C%20Okhla%2C%20New%20Delhi%2C%20Delhi%20110025!5e0!3m2!1sen!2sin!4v1577965014945!5m2!1sen!2sin"></iframe></div>
            </div>
        </div>
{% endblock %}