{% extends 'base.html' %}
 {% block title %} About Us - Spograde 🏏 {% endblock %}
{% block content %}    
 <div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="/">Home</a></li>
                    <li><span>About Us</span></li>
                </ul>
            </div>
        </div>
        <div class="holder fullboxed mt-0 py-5 py-md-10 bg-cover" style="background-image:url({{ base_url }}/media/slider/slider1mobile.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 mx-auto">
                        <div class="text-center">
                        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="holder py-md-6">
            <div class="container">
             <center> <h1> About Us </h1> </center>
               <p>Through the perfect blend of modern technology and high-quality natural resources, we make the most ideal equipment to help you make your sporting dreams come true!</p>
                <p>Our unique streamlined handle grip has been made after thorough research to maximize your comfort and increase ease in handling. The handle is made from the sublime cane imported from Singapore to ensure high-quality standards.</p>
                <p>All our bats are pressed beforehand, using top class machinery available in the market right now, to assist you in scoring from the first innings itself.</p>
                <p><strong>Ideology</strong></p>
                <p>Our company understands that the equipment we play with is nothing but the extension of our own body and hence needs to be crafted with the utmost care and attention to detail.</p>
                <p>Keeping this in mind we tailor-make our products to fulfill your every requirement.&nbsp;</p>
                <p><strong>Why choose us?</strong></p>
                <p>Our company upholds the principle "Quality and service" in everything we do, therefore we ensure that all of your equipment is tailor-made to meet your needs using the quintessential resources available in the market.&nbsp;</p>
                <p>On the unfortunate event of a manufacturing defect, you can return the product and a refund will be processed straight away.</p>
                <p>We here at spograde consider our customers to be our treasured friends and we will make sure to serve you every need and support you all the way.</p>
            </div>
        </div>
{% endblock %}