<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
{% load compress %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#65c9db">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
    <meta name="author" content="spograde">
    <title>{% block title %} {% endblock %}</title>
    {% block seo %} {% endblock %}
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" sizes="32x32" />  
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" sizes="64x64" />
    <link rel="apple-touch-icon" sizes="64x64" href="{% static 'img/favicon.png' %}" />
    {% compress css %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/slick.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'js/plugins.css' %}" rel="stylesheet"><!-- Custom styles for this template -->
    <link href="{% static 'css/style-light_main_display.css' %}" rel="stylesheet">
    {% comment %} <link href="{% static 'css/style-dark.css' %}" rel="stylesheet"> {% endcomment %}
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    {% comment %} Dark mode to be added {% endcomment %}
    <link href="{% static 'css/style-light_main.css' %}" rel="stylesheet">
    {% endcompress %}
    <!--icon font-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115209070-4"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-115209070-4');
    </script>
    <link href="{% static 'fonts/icomoon/icomoon.css' %}" rel="stylesheet">
    <!--custom font-->
    {% comment %} <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
          rel="stylesheet"> {% endcomment %}

   <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '230446108182753');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=230446108182753&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
</head>

<body class="home-page is-dropdn-click has-slider">
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v5.0"></script>
<div class="body-preloader">
    <div class="loader-wrap">
       <img src="/media/loader.svg" alt="Loading Bar">
    </div>
</div>

<header class="hdr global_width hdr-style-4 hdr_sticky minicart-icon-style-1 hdr-mobile-style2">
    <!--  Mobile Menu   -->
    {% include 'base/_header.html' %}
    <!--  Mobile Menu End   -->
</header>
<div class="page-content">
    {% block content %}
    {% endblock %}
{% if homepage %} {% include 'base/_footer_insta.html' %} {% else %} {% include 'base/_footer_rest.html' %} {% endif %} 
    {% comment %} <div class="body-preloader">
        <div class="loader-wrap">
            <div class="dots">
                <div class="dot one"></div>
                <div class="dot two"></div>
                <div class="dot three"></div>
            </div>
        </div>
    </div> {% endcomment %}
    {% compress js file base %}
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/toast.js' %}"></script>
    <script src="{% static 'js/countdown.js' %}"></script>
    <script src="{% static 'js/csrf.ajax.js' %}"></script>
    <script src="{% static 'js/ecommerce.sales.js' %}"></script>
    <script src="{% static 'js/ecommerce.js' %}"></script>
    {% endcompress %}
    {% block schema %}
    {% endblock %}
    {% block extra_js %}
    {% endblock %}
     <!-- <script src="https://account.snatchbot.me/script.js"></script><script>window.sntchChat.Init(134387)</script> -->
     <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '369066880775153');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=369066880775153&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code --> 
</body>
</html>