{% extends 'base.html' %}
{% block title %} FAQ - Spograde {% endblock %}
{% block content %}    
       <div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><span>FAQ</span></li>
                </ul>
            </div>
        </div>
        <div class="holder mt-0 global-width">
            <div class="container">
                <div class="simple-filter js-simple-filter">
                    <div class="text-center">
                        <h2 class="h1-style">FAQ</h2>
                        <div class="simple-filter-tabs js-simple-filters-tabs"> <span class="js-simple-filter-label" data-filter=".general_questions">GENERAL QUESTIONS</span>
                            <span class="js-simple-filter-label" data-filter=".top-questions">TOP QUESTIONS</span></div>
                    </div>
                    <div class="faq-wrapper simple-filter-wrap">
                       
                       
                    {% for faq in faqs %}
                        <div class="faq-item js-simple-filter-item {{ faq.category }}">
                            <div class="panel">
                                <div class="panel-heading"><a data-toggle="collapse" href="#faq{{ faq.id }}" class="collapsed">
                                        <div class="panel-title">{{ faq.question }}</div>
                                    </a></div>
                                <div id="faq{{ faq.id }}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        {{ faq.answer|safe }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                       

                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block schema %}
    <script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
    {% for faq in faqs %}
     {
        "@type": "Question",
        "name": "{{ faq.question }}",
        "acceptedAnswer": {
        "@type": "Answer",
        "text": "{{ faq.answer|safe }}"
        }},
    {% endfor %}
    ]}
    </script>
{% endblock %}