{% extends 'base.html' %}
{% load static %}
    {% block title %} Spograde - Upgrade Your Game 🏏  {% endblock %}
    {% block seo %}    
    <meta name="title" content="Spograde | Cricket Bat | Cricket Leather Balls">
    <meta name="description" content="Through the perfect blend of modern technology and high-quality natural resources, we make the most ideal cricket bats to help you make your sporting dreams come true!">
    <meta name="keywords" content="cricket bat, cricket kit, cricket kit price, criket bat price, cricket set, english willow bat, best cricket bat, Leather cricket bat, cricket bat and ball, cricket bats and ball, cricket bats online, cricket accessories, Tennis cricket bat, spograde, Leather cricket ball ">
    <link rel="canonical" href="https://spograde.com">
    <meta property="og:title" content="Spograde - Upgrade Your Game 🏏" />
    <meta property="og:type" content="website.product" />
    <meta property="og:url" content="https://spograde.com" />
    <meta property="og:description" content="Through the perfect blend of modern technology and high-quality natural resources, we make the most ideal cricket bats to help you make your sporting dreams come true!" />
    <meta property="og:image" content="https://spograde.com/media/slider/slider1.jpg" />
    <meta property="og:image:secure_url" content="https://spograde.com/media/slider/slider1.jpg" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Through the perfect blend of modern technology and high-quality natural resources, we make the most ideal cricket bats to help you make your sporting dreams come true!" />
    <meta name="twitter:image" content="https://spograde.com/media/slider/slider1.jpg" />
    <meta name="language" content="en_US">
    {% endblock %}

{% block content %}
    <!--  Slider Start     -->
    {% include 'base/_slider.html' %}
    <!-- //BN Slider 1 -->


    <!--  Holder start      -->
    {% include 'base/_holder.html' %}
    <!--  Holder End       -->

    {% comment %} {% include 'base/new_arrival.html' %} {% endcomment %}

    {% comment %} {% include 'base/super_sale.html' %} {% endcomment %}

    <!--  Holder2 start      -->
    {% comment %} {% include 'base/_holder2.html' %} {% endcomment %}
    <!--  Holder2 End       -->

    {% comment %} {% include 'base/single_product.html' %} {% endcomment %}

    {% include 'base/_global_width.html'%}

    {% include 'base/_delivery_about.html' %}

    {% comment %} {% include 'base/_blog.html' %} {% endcomment %}
    <div style="display: none;" class="modal--newsletter js-newslettermodal" data-pause="5000" data-expires="1">
        <div class="row no-gutters">
            <div class="col-sm d-none d-md-flex align-items-center justify-content-center">
                <div class="newslettermodal-img"><img src="{{ base_url }}/media/usp/imported.jpg" alt="News Call"></div>
            </div>
            <div class="col-sm">
                <div class="newslettermodal-content">
                    <div class="newslettermodal-content-center">
                        <div class="newslettermodal-content-logo"><img src="{{ base_url }}/static/img/logo_dark.png" alt="logo newsletter"></div>
                        {% comment %} <h1> Launching in </h5> {% endcomment %}
                        {% comment %} <div id="clock-c" class="countdown"></div> {% endcomment %}
                        <h3 class="h2-style newslettermodal-content-title">Sign up our newsletter</h3>
                        <div class="newslettermodal-content-text">Enter Your email address to sign up to receive our latest news and offers</div>
                        
                            <form data-toggle="validator" action="{% url 'subscribe' %}" method="POST" class="newslettermodal-content-form" id="newsletterForm">
                                    {% csrf_token %}
                                    <div class="form-confirm">
                                    <div class="success-confirm text-center">Thanks! Your message has been sent.<br>We will get back to you soon!</div>
                                    <div class="error-confirm text-center">Oops! There was an error submitting form.<br>Refresh and send again.</div>
                                </div>
                                    <div class="input-group">
                                        <div class="form-control-wrapper"><input type="email" name="email" class="form-control" placeholder="Е-mail address" data-error="Error, that email address is invalid" required="">
                                        <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <br/>
                                    <button type="submit" class="btn mt-15">Subscribe</button>
                                       <div class="checkbox-group mt-2"><input type="checkbox" name="newsletter" id="newsLetterCheckBox"> <label for="newsLetterCheckBox"><h5>Don't show this popup</h5></label></div>
                                </form>
                         <a href="{% url 'ipl_landing_page' %}"> <img src="{{ base_url }}/static/ipl/SupportTeam.png"></a>
                        <div class="newslettermodal-content-socials">
                            <ul class="social-list mt-3">
                                <li><a href="https://facebook.com/spograde" class="icon icon-facebook"></a></li>
                                <li><a href="https://twitter.com/spograde" class="icon icon-twitter"></a></li>
                                <li><a href="https://linkedin.com/company/spograde-llp" class="icon icon-linkedin"></a></li>
                                <li><a href="http://instagram.com/spogradellp" class="icon icon-instagram"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block schema %}
    <script type="application/ld+json">
    {
    "@context": "https://schema.org/",
    "@type": "WebSite",
    "name": "Spograde - Upgrade Your Game 🏏",
    "url": "https://spograde.com",
    "potentialAction": {
        "@type": "SearchAction",
        "target": "{search_term_string}",
        "query-input": "required name=search_term_string"
    }
    }
    </script>
    <script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "LocalBusiness",
    "name": "Spograde LLP",
    "image": "https://spograde.com/media/slider/slider1.jpg",
    "@id": "",
    "url": "https://spograde.com",
    "telephone": "+91-99102-80162",
    "priceRange": "249-8000",
    "address": {
        "@type": "PostalAddress",
        "streetAddress": "J-136 Second Floor, Gali no 17",
        "addressLocality": "Delhi",
        "postalCode": "110025",
        "addressCountry": "IN"
    },
    "geo": {
        "@type": "GeoCoordinates",
        "latitude": 40.741895,
        "longitude": -73.989308
    },
    "openingHoursSpecification": {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday"
        ],
        "opens": "11:00",
        "closes": "20:00"
    },
    "sameAs": [
        "https://facebook.com/spograde",
        "https://twitter.com/spograde",
        "https://instagram.com/spogradellp",
        "https://in.linkedin.com/company/spograde",
        "https://spograde.com"
    ]
    }
    </script>

{% endblock %}