{% extends 'base.html' %}
{% load static %}
    {% block title %} Upgrade Your Game 🏏 | Spograde LLP   {% endblock %}
    {% block seo %}    
    {% endblock %}

{% block content %}
    <!--  Slider Start     -->

    <!-- BN Slider 1 -->
        <div class="holder fullwidth full-nopad mt-0">
            <div class="container-fluid px-0">
                <div class="bnslider-wrapper">
                    <div class="bnslider bnslider--lg keep-scale" id="bnslider-001" data-slick='{"arrows": true, "dots": false}' data-autoplay="false" data-speed="5000" data-start-width="1920" data-start-height="550" data-start-mwidth="480" data-start-mheight="578">
                        <div class="bnslider-slide bnslide-fashion-3-1">
                            <div class="bnslider-image-mobile" style="background-image: url('{{ base_url }}/static/ipl/mobile_grabdeal.jpg');"></div>
                            <div class="bnslider-image" style="background-image: url('{{ base_url }}/static/ipl/landing/infographice_slider02.jpg');"></div>
                            <div class="bnslider-text-wrap bnslider-overlay">
                                <div class="bnslider-text-content txt-middle txt-left">
                                    {% comment %} <div class="bnslider-text-content-flex container">
                                        <div class="bnslider-vert text-center">
                                            <div class="bnslider-text bnslider-text--sm" data-animation="fadeInLeft" data-animation-delay="1s" style="margin-top: 2em">DEMO</div>
                                            <div class="bnslider-text bnslider-text--lg" data-animation="fadeInLeft" data-animation-delay="1.25s" style="font-size: .9em; color: #e53d60;">Support Your Team</div>
                                            <div class="bnslider-text bnslider-text--xs" data-animation="fadeInLeft" data-animation-delay="1.5s" style="font-weight: 400;">LANDING PAGE</div>
                                            <div class="btn-wrap" data-animation="fadeInUp" data-animation-delay="2s"><a href="#" class="btn-decor" style="color: #fff;">shop now<span class="btn-line" style="background-color: #fff;"></span></a></div>
                                        </div>
                                    </div> {% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bnslider-loader">
                        <div class="loader-wrap">
                            <div class="dots">
                                <div class="dot one"></div>
                                <div class="dot two"></div>
                                <div class="dot three"></div>
                            </div>
                        </div>
                    </div>
                    <div class="bnslider-arrows bnslider-arrows--bg container">
                        <div></div>
                    </div>
                    <div class="bnslider-dots vert-dots container-fluid"></div>
                </div>
            </div>
        </div>
        <!-- //BN Slider 1 -->

         <div class="holder fullboxed mt-0 py-3 py-lg-4 holder-bg-05">
            <div class="container">
                <div class="title-wrap text-center">
                    <div class="h1-style"><b>Book Now Limited Edition Cricket Bat</b></div>
                    <div class="h4-style under-title">Dont miss out the biggest sale of Support Your Team Limited Edition Cricket Bats</div>
                    <div><a href="#cricket_bat" class="btn-decor btn-decor--lg">GRAB NOW</a></div>
                </div>
            </div>
        </div>


        <div class="holder" id="cricket_bat">
            <div class="container">
                <div class="collections-wrap row">
                {% for product in products %}
                    <div class="col-6 col-sm-4">
                        <div class="collection-item zoom-out">
                            <div class="collection-item-img"><a href="{{ product.get_absolute_url }}"><img src="{{ base_url }}/media/demo/product-placeholder.png" data-src="{{ product.image.url }}" class="js-prd-img lazyload" alt="{{ product.title }}"></a><span class="collection-item-hover"><span>
                            <a href="{{ product.get_absolute_url }}" class="btn-decor"><h2 style="color: #fff;">Book Now</h2></a> </span></span></div>
                            <h3 class="collection-item-title"><a href="#">{{ product.title }}</a></h3>
                            <h4>{{ product.short_description }}</h4>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>

         <div class="holder fullwidth full-nopad">
            <div class="container">
                <div class="big-carousel js-bigcarousel">
                    <div class="big-carousel-item">
                        <div class="big-carousel-item-image"><img src="{{ base_url }}/static/ipl/placeholder.png" data-src="{{ base_url }}/static/ipl/landing/infographice_slider01.jpg" alt="Infographic" class="img-fluid lazyload"></div>
                    </div>
                    <div class="big-carousel-item">
                        <div class="big-carousel-item-image"><img src="{{ base_url }}/static/ipl/placeholder.png" data-src="{{ base_url }}/static/ipl/landing/infographice_slider03.jpg" alt="Infographic" class="img-fluid lazyload"></div>
                      
                    </div>
                    <div class="big-carousel-item">
                        <div class="big-carousel-item-image"><img src="{{ base_url }}/static/ipl/placeholder.png" data-src="{{ base_url }}/static/ipl/iplbanner-01.png" alt="Infographic" class="img-fluid lazyload"></div>
                      
                    </div>
                </div>
            </div>
        </div>
    
    <div class="holder">
            <div class="container">
                <div class="title-wrap text-center">
                    <h2 class="h1-style">Follow us on instagram</h2>
                </div>
                <div class="instagram-grid eleven-in-row">
                    <div class="row">
                        <div class="col col-xl-10 aside-col-xl-12 mx-auto">
                            <div id="instafeed1" class="instagram-feed-full js-instagram-feed" data-instafeed='{"limit": "35", "accessToken": "24618263000.1677ed0.1894fae392b046acbdba6d7b027166bc", "sortBy": "most-recent"}'></div>
                        </div>
                    </div>
                </div><br/>
                <div class="text-center mt-3 mt-md-4"><a href="https://www.facebook.com/Spograde" target="_blank" class="btn-decor">Follow Us</a></div>
            </div>
        </div>
     <br/>
{% endblock %}
{% block schema %}
    <script type="application/ld+json">
    {
    "@context": "https://schema.org/",
    "@type": "WebSite",
    "name": "Spograde - Upgrade Your Game 🏏",
    "url": "https://spograde.com",
    "potentialAction": {
        "@type": "SearchAction",
        "target": "{search_term_string}",
        "query-input": "required name=search_term_string"
    }
    }
    </script>
    <script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "LocalBusiness",
    "name": "Spograde LLP",
    "image": "https://spograde.com/media/slider/slider1.jpg",
    "@id": "",
    "url": "https://spograde.com",
    "telephone": "+91-99102-80162",
    "priceRange": "249-8000",
    "address": {
        "@type": "PostalAddress",
        "streetAddress": "J-136 Second Floor, Gali no 17",
        "addressLocality": "Delhi",
        "postalCode": "110025",
        "addressCountry": "IN"
    },
    "geo": {
        "@type": "GeoCoordinates",
        "latitude": 40.741895,
        "longitude": -73.989308
    },
    "openingHoursSpecification": {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday"
        ],
        "opens": "11:00",
        "closes": "20:00"
    },
    "sameAs": [
        "https://facebook.com/spograde",
        "https://twitter.com/spograde",
        "https://instagram.com/spogradellp",
        "https://in.linkedin.com/company/spograde",
        "https://spograde.com"
    ]
    }
    </script>

{% endblock %}