{% extends 'base.html' %}
{% block title %} Refund Cancellation Policy - Spograde {% endblock %}
{% block content %}
<div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="/">Home</a></li>
                    <li><span>Return, Refund and Cancellation Policy</span></li>
                </ul>
            </div>
        </div>
        <div class="holder mt-0">
            <div class="container">
                <!-- Page Title -->
                <div class="page-title text-center">
                    <div class="title">
                        <h1>Return, Refund and Cancellation Policy</h1>
                    </div>
                </div>
                <!-- /Page Title -->
                <p style="font-size: medium;"><br />Our focus is on complete customer satisfaction. In the event, if you are displeased with the services provided, we will refund back the money, provided the reasons are genuine and proved after investigation. Please read the fine prints of each deal before buying it, it provides all the details about the services or the product you purchase.<br /><br />In case of dissatisfaction from our services, clients have the liberty to cancel their projects and request a refund from us. Our Policy for the cancellation and refund will be as follows:</p>
                <p style="font-size: medium;"><strong>Cancellation Policy</strong><br /><br /><strong>Refund Policy</strong><br /><br />We will try our best to create suitable design concepts for our clients.<br /><br />In case any client is not completely satisfied with our products we can provide a refund.<br /><br />If paid by credit card, refunds will be issued to the original credit card provided at the time of purchase and in case of payment gateway name payments refund will be made to the same account.</p>
                <p style="font-size: medium;"><strong>Cancellation Before Shipment:</strong><br /> Order once placed can only be cancelled within 4 hours from the placing the order, you can write to our customer support team on contact@spograde.com. In such cases, the order will be cancelled and the money will be refunded to you within 48-72 business hours after the cancellation request.</p>
            </div>
        </div>
{% endblock %}