{% extends 'base.html' %}
{% block title %} Shipping Policy - Spograde {% endblock %}
{% block content %}
<div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="/">Home</a></li>
                    <li><span>Shipping Policy</span></li>
                </ul>
            </div>
        </div>
        <div class="holder mt-0">
            <div class="container">
                <!-- Page Title -->
                <div class="page-title text-center">
                    <div class="title">
                        <h1>Shipping Policy</h1>
                    </div>
                </div>
                <!-- /Page Title -->
               <h2>Shipping Policy</h2>
                <p>The following are the terms and conditions that constitute our Shipping Policy.</p>
                <p>&nbsp;</p>
                <p>Thank you for visiting and shopping at www.spograde.com.&nbsp;</p>
                <p>&nbsp;</p>
                <p>We've got India Covered! We now deliver medicines across 1000+ cities and towns, covering 25000+ pin codes in the country!</p>
                <p>Estimates shipment time:</p>
                <p>All orders are processed within 1-2 business days. Orders are not shipped on Sundays or holidays.</p>
                <p>If we are experiencing a high volume of orders, shipments may be delayed by a few days. Please allow additional days in transit for delivery. If there will be a significant delay in the shipment of your order, we will contact you via email or telephone.</p>
                <p><span style="color: #000000;">&nbsp;</span></p>
                <h3>Shipping fees:</h3>
                <p>Free! There are no extra charges for the shipping of your order.&nbsp;</p>
                <p>&nbsp;</p>
                <h4><strong>Delivery Partner: </strong></h4>
                <p>Our delivery partner is Delivery and we also have multiple delivery partners with us as per your location we choose a suitable delivery partner.</p>
                <p>&nbsp;</p>
                <h3>Order Tracking:&nbsp;</h3>
                <p>Once your order will get shipped we will send you an email along with tracking details and estimated delivery timeline.</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
        </div>
{% endblock %}