{% extends 'base.html' %}
{% block title %} Terms and Conditions - Spograde {% endblock %}
{% block content %}
<div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><span>Terms of use</span></li>
                </ul>
            </div>
        </div>
        <div class="holder mt-0">
            <div class="container">
                <!-- Page Title -->
                <div class="page-title text-center">
                    <div class="title">
                        <h1>TERMS AND CONDITIONS</h1>
                    </div>
                </div>
                <!-- /Page Title -->
                <p><span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;"><span style="font-family: Biotif-Regular, serif;"><span style="font-size: medium;">The terms "We" / "Us" / "Our"/&rdquo;Spograde&rdquo; individually and collectively refer to Spograde.com and the terms "Visitor&rdquo; &rdquo;User&rdquo; refers to the users. </span></span></span></span></p>
                <p><span style="font-family: Biotif-Regular, serif;"><span style="font-size: medium;"><br /> </span></span><span style="font-family: Biotif-Regular, serif;"><span style="font-size: medium;">This page states the Terms and Conditions under which you (Visitor) may visit this website (&ldquo;Website&rdquo;). Please read this page carefully. If you do not accept the Terms and Conditions stated here, we would request you to exit this site. The business, any of its business divisions and/or its subsidiaries, associate companies or subsidiaries to subsidiaries or such other investment companies (in India or abroad) reserve their respective rights to revise these Terms and Conditions at any time by updating this posting. You should visit this page periodically to re-appraise yourself of the Terms and Conditions because they are binding on all users of this Website.</span></span><span style="font-family: Biotif-Regular, serif;"><span style="font-size: medium;"><br /> <br /> </span></span><strong><span style="font-family: Biotif-Regular, serif;"><span style="font-size: medium;">USE OF CONTENT</span></span></strong><span style="font-family: Biotif-Regular, serif;"><span style="font-size: medium;"><br /> <br /> </span></span><span style="font-family: Biotif-Regular, serif;"><span style="font-size: medium;">All logos, brands, marks headings, labels, names, signatures, numerals, shapes or any combinations thereof, appearing in this site, except as otherwise noted, are properties either owned or used under license, by the business and/or its associate entities who feature on this Website. The use of these properties or any other content on this site, except as provided in these terms and conditions or in the site content, is strictly prohibited.</span></span><span style="font-family: Biotif-Regular, serif;"><span style="font-size: medium;"><br /> <br /> </span></span><span style="font-family: Biotif-Regular, serif;"><span style="font-size: medium;">You may not sell or modify the content of this Website or reproduce, display, publicly perform, distribute, or otherwise use the materials in any way for any public or commercial purpose without the respective organization&rsquo;s or entity&rsquo;s written permission.</span></span><span style="font-family: Biotif-Regular, serif;"><span style="font-size: medium;"><br /> <br /> </span></span><strong><span style="font-family: Biotif-Regular, serif;"><span style="font-size: medium;">ACCEPTABLE WEBSITE USE</span></span></strong><span style="font-family: Biotif-Regular, serif;"><span style="font-size: medium;"><br /> <br /> </span></span><span style="font-family: Biotif-Regular, serif;"><span style="font-size: medium;"><strong>(A) Security Rules</strong></span></span><span style="font-family: Biotif-Regular, serif;"><span style="font-size: medium;"><br /> </span></span><span style="font-family: Biotif-Regular, serif;"><span style="font-size: medium;">Visitors are prohibited from violating or attempting to violate the security of the Web site, including, without limitation, (1) accessing data not intended for such user or logging into a server or account which the user is not authorized to access, (2) attempting to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without proper authorization, (3) attempting to interfere with service to any user, host or network, including, without limitation, via means of submitting a virus or "Trojan horse" to the Website, overloading, "flooding", "mailbombing" or "crashing", or (4) sending unsolicited electronic mail, including promotions and/or advertising of products or services. Violations of system or network security may result in civil or criminal liability. The business and/or its associate entities will have the right to investigate occurrences that they suspect as involving such violations and will have the right to involve and cooperate with, law enforcement authorities in prosecuting users who are involved in such violations.</span></span></p>
                <p><span style="font-family: Biotif-Regular, serif;"><span style="font-size: medium;"><br /> </span></span><span style="font-family: Biotif-Regular, serif;"><span style="font-size: medium;"><strong>(B) General Rules</strong></span></span><span style="font-family: Biotif-Regular, serif;"><span style="font-size: medium;"><br /> </span></span><span style="font-family: Biotif-Regular, serif;"><span style="font-size: medium;">Visitors may not use the Web Site in order to transmit, distribute, store or destroy material (a) that could constitute or encourage conduct that would be considered a criminal offense or violate any applicable law or regulation, (b) in a manner that will infringe the copyright, trademark, trade secret or other intellectual property rights of others or violate the privacy or publicity of other personal rights of others, or (c) that is libelous, defamatory, pornographic, profane, obscene, threatening, abusive or hateful.</span></span><span style="font-family: Biotif-Regular, serif;"><span style="font-size: medium;"><br /> <br /> </span></span><span style="font-family: Biotif-Regular, serif;"><span style="font-size: medium;"><strong>INDEMNITY</strong></span></span><span style="font-family: Biotif-Regular, serif;"><span style="font-size: medium;"><br /> <br /> The User unilaterally agree to indemnify and hold harmless, without objection, the Spograde, its officers, directors, employees, and agents from and against any claims, actions and/or demands and/or liabilities and/or losses and/or damages whatsoever arising from or resulting from their use of</span></span><span style="font-family: Biotif-Regular, serif;"><span style="font-size: medium;"> Spograde.com</span></span><u> </u><span style="font-family: Biotif-Regular, serif;"><span style="font-size: medium;">or their breach of the terms. </span></span></p>
                <p>&nbsp;</p>
                <p><a name="_GoBack"></a> <span style="font-family: Biotif-Regular, serif;"><span style="font-size: medium;"><strong>LIABILITY </strong></span></span><span style="font-family: Biotif-Regular, serif;"><span style="font-size: medium;"><br /> <br /> </span></span><span style="font-family: Biotif-Regular, serif;"><span style="font-size: medium;">User agrees that neither&nbsp;<a href="http://spograde.com/" target="_blank">Spograde</a>&nbsp;nor its group companies, directors, officers or employee shall be liable for any direct or/and indirect or/and incidental or/and special or/and consequential or/and exemplary damages, resulting from the use or/and the inability to use the service or/and for cost of procurement of substitute goods or/and services or resulting from any goods or/and data or/and information or/and services purchased or/and obtained or/and messages received or/and transactions entered into through or/and from the service or/and resulting from unauthorized access to or/and alteration of user's transmissions or/and data or/and arising from any other matter relating to the service, including but not limited to, damages for loss of profits or/and use or/and data or other intangible, even if&nbsp;<a href="http://spograde.com/" target="_blank">Spograde</a>&nbsp;has been advised of the possibility of such damages. </span></span></p>
                <p><span style="font-family: Biotif-Regular, serif;"><span style="font-size: medium;">User further agrees that&nbsp;<a href="http://spograde.com/" target="_blank">Spograde</a>&nbsp;shall not be liable for any damages arising from interruption, suspension or termination of service, including but not limited to direct or/and indirect or/and incidental or/and special consequential or/and exemplary damages, whether such interruption or/and suspension or/and termination was justified or not, negligent or intentional, inadvertent or advertent. </span></span></p>
                <p><span style="font-family: Biotif-Regular, serif;"><span style="font-size: medium;">The user agrees that&nbsp;<a href="http://spograde.com/" target="_blank">Spograde</a>&nbsp;shall not be responsible or liable to the user, or anyone, for the statements or conduct of any third party of the service. In sum, in no event, shall the Spograde's total liability to the User for all damages or/and losses or/and causes of action exceed the amount paid by the User to&nbsp;<a href="http://spograde.com/" target="_blank">Spograde</a>, if any, that is related to the cause of action.</span></span></p>
                <p><span style="font-family: Biotif-Regular, serif;"><span style="font-size: medium;"><br /> </span></span><strong><span style="font-family: Biotif-Regular, serif;"><span style="font-size: medium;">DISCLAIMER OF CONSEQUENTIAL DAMAGES</span></span></strong><span style="font-family: Biotif-Regular, serif;"><span style="font-size: medium;"><br /> <br /> </span></span><span style="font-family: Biotif-Regular, serif;"><span style="font-size: medium;">In no event shall Spograde or any parties, organizations or entities associated with the corporate brand name us or otherwise, mentioned at this Website be liable for any damages whatsoever (including, without limitations, incidental and consequential damages, lost profits, or damage to computer hardware or loss of data information or business interruption) resulting from the use or inability to use the Website and the Website Material, whether based on warranty, contract, tort, or any other legal theory, and whether or not, such organization or entities were advised of the possibility of such damages.</span></span></p>
                <p>&nbsp;</p>
            </div>
        </div>
{% endblock %}