{% extends "base.html" %}

{% block content %}

      <div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><span>Product Verification</span></li>
                </ul>
            </div>
        </div>
        <div class="holder mt-0">
            <div class="container">
                <h1 class="text-center">Product Verification</h1>
                <div class="cart-table">
                <div class="prd-grid">
                            <div class="empty-category">
                                <div class="empty-category-text"><span>CONGRATS</span>, YOUR PRODUCT IS 100% GENUINE</div><br/>
                                <div class="empty-category-button"><a href="{% url 'product-verification' %}" class="btn-decor">Verify ANother</a></div>
                                <div class="empty-category-icon"><i class="icon-check-box"></i></div>
                            </div>
                        </div>  
            </div>
        </div>
        </div>
      </div>
{% endblock %}