{% extends "base.html" %}

{% block content %}

      <div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><span>Product Verification</span></li>
                </ul>
            </div>
        </div>
        <div class="holder mt-0">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-8 col-md-6">
                        <h2 class="text-center">PRODUCT AUTHORIZATION</h2>
                        <div class="form-wrapper">
                            <p>Authorize your purchased product and get insured about the products.</p>
                             <form method='POST'> {% csrf_token %}
                             <div class="form-group"> {{ form }} </div>
                              {% comment %} <div class="clearfix"><input id="checkbox1" name="checkbox1" type="checkbox" checked="checked"> <label for="checkbox1">By registering your details you agree to our Terms and Conditions and privacy and cookie policy</label></div> {% endcomment %}
                              <div class="text-center" style="margin-bottom: 10px;"><button type='submit' class='btn'>Verify Now</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
{% endblock %}