{% extends "base.html" %}
{% block title %} Payment Method - Spograde {% endblock %}
{% block content %}
<div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><span>Payment Method</span></li>
                </ul>
            </div>
        </div><br/>
        <div class="holder mt-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 aside aside--left">
                         <div class="list-group"><a href="/account" class="list-group-item">Account Details</a> 
                        <a href="{% url "billing-payment-method" %}" class="list-group-item active">Payment Methods</a> 
                        <a href="{% url "addresses" %}" class="list-group-item">Addresses</a> 
                        <a href="{% url "password_change" %}" class="list-group-item">Change Password</a> 
                        <a href="{% url "orders:list" %}" class="list-group-item">Order History</a> 
                        <a href="{% url "account:user-update" %}" class="list-group-item">Update Details</a> 
                        {% comment %} <a href="#" class="list-group-item">Compare Products</a> {% endcomment %}</div>
                    </div>
                    <div class="col-md-9 aside">
                        {% comment %} <h2>Account Details</h2> {% endcomment %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h3>Add Payment Method</h3>
                                        <div class='stripe-payment-form' data-token='{{ publish_key }}' data-next-url='{% if next_url %}{{ next_url }}{% endif %}' data-btn-title='Add New Card'></div>
                                    </div>
                                </div>
                            </div>
                        </div>             
                    </div>
                </div>
            </div>
        </div>
    </div><br/>
</div>
{% endblock %}
