{% extends "base.html" %}
{% load mathfilters %}
{% load template_tags %}
{% block title %} {{ object.title|title }} - Spograde {% endblock %}
{% block seo %}    
    <meta name="title" content="{{ object.title }}">
    <meta name="description" content="{{ object.long_description }}">
    <meta name="keywords" content="Spograde, Cricket Bat, English Willow-Leather, Kasmiri Willow - Tennis, Gully Cricket">
    <meta name="robots" content="index">
    <meta property="og:title" content="{{ object.title }}" />
    <meta property="og:type" content="product" />
    <meta property="og:url" content="https://spograde.com/{{ object.get_absolute_url }}" />
    <meta property="og:description" content="{{ object.long_description }}" />
    <meta property="og:image" content="https://spograde.com{{ object.image.url }}" />
    <meta property="og:image:secure_url" content="https://spograde.com{{ object.image.url }}" />
    <link rel="canonical" href="https://spograde.com/{{ object.get_absolute_url }}">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="{{ object.long_description }}" />
    <meta name="twitter:image" content="https://spograde.com{{ object.image.url }}" />
    <meta name="language" content="en_US">
    {% endblock %}
{% block content %}
<div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="/">Home</a></li>
                    <li><a href="/product">Products</a></li>
                    <li><a href="{{ object.category.get_absolute_url }}">{{ object.category|title }}</a></li>
                    <li><span>{{ object.title }}</span></li>
                </ul>
            </div>
        </div>
        <div class="holder mt-0">
            <div class="container">
            {% comment %} {% if edition == 'special' %}
            <div class="alert alert-info"><strong>Note!</strong> This is our special edition product to support your team. <br/>You can book this product starting <b>@{{ special_price }}</b> & Pay the whole price when shipped. <a href="{% url 'faq' %}" style="color:#fff;">FAQ </a></div><br/>
            {% endif %} {% endcomment %}
                <div class="row prd-block prd-block--mobile-image-first js-prd-gallery" id="prdGallery100">
                    <div class="col-md-5 fixed-col fixed aside js-product-fixed-col">
                        <div class="fixed-col_container">
                            <div class="fstart"></div>
                            <div class="fixed-wrapper">
                                <div class="fixed-scroll">
                                    <div class="fixed-col_content">
                                        <div class="prd-block_info js-prd-m-holder mb-2 mb-md-0"></div><!-- Product Gallery -->
                                        <div class="prd-block_main-image main-image--slide js-main-image--slide">
                                            <div class="prd-block_main-image-holder js-main-image-zoom" data-zoomtype="inner">
                                                <div class="prd-block_main-image-video js-main-image-video"><video loop muted preload="metadata" controls="controls">
                                                        <source src="#"></video>
                                                    <div class="gdw-loader"></div>
                                                </div>
                                                <div class="prd-has-loader">
                                                    <div class="gdw-loader"></div><img src="{{ object.image.url }}" class="zoom" alt="{{ object.title }}" data-zoom-image="{{ object.image.url }}">
                                                </div>
                                                <div class="prd-block_main-image-next slick-next js-main-image-next">NEXT</div>
                                                <div class="prd-block_main-image-prev slick-prev js-main-image-prev">PREV</div>
                                            </div>
                                            <div class="prd-block_main-image-links"></a> 
                                            <a href="{{ object.image.url }}" class="prd-block_zoom-link"><i class="icon icon-zoomin"></i></a></div>
                                        </div>
                                    
                                        <div class="product-previews-wrapper">
                                            <div class="product-previews-carousel" id="previewsGallery100">
                                            {% for file in object.productfile_set.all %}
                                            <a href="#" data-value="Silver" data-image="/media/{{ file }}" data-zoom-image="/media/{{ file }}"><img src="/media/{{ file }}" alt="Spograde Product Image"></a>
                                            {% endfor %}
                                            </div>
                                        </div>
                                    

                                        <!-- /Product Gallery -->
                                    </div>
                                </div>
                            </div>
                            <div class="fend"></div>
                        </div>
                    </div>
                    <div class="col-md-7 aside">
                        <div class="prd-block_info">
                            <div class="js-prd-d-holder prd-holder">
                                <div class="prd-block_title-wrap">
                                    <h1 class="prd-block_title">{{ object.title }}</h1>
                                    <div class="prd-block__labels"><span class="prd-label--new">NEW</span></div>
                                </div>
                                <div class="prd-block_info-top">
                                    <div class="product-sku">SGP: <span>#000{{ object.id }} </span></div>
                                    {% if is_any_review %}
                                     <div class="prd-rating">
                                    <a href="#productReviews" class="prd-review-link">
                                        {% with ''|center:average_rating as average_rating %}
                                            {% for _ in average_rating %}
                                                <i class="icon-star fill"></i>
                                            {% endfor %}
                                        {% endwith %}
                                        {% with ''|center:remaining as remaining %}
                                            {% for _ in remaining %}
                                                <i class="icon-star"></i>
                                            {% endfor %}
                                        {% endwith %}
                                        <span>{{ review_count }} reviews</span></a></div>
                                    {% else %}
                                      <div class="prd-rating">
                                      <a href="/products/review/{{ object.slug }}" class="prd-review-link"> 
                                       <i class="icon icon-check-box" style="color: #4dbad4;"></i> Write a product review 
                                       </a>
                                       </div>
                                    {% endif %}

                                    <div class="prd-availability">Availability: <span>{{ object.stock }} items</span></div>
                                </div>
                                
                                <div class="prd-block_description topline">
                                    <p>{{ object.long_description }}</p>
                                </div>
                            </div>
                            {% if edition == 'special' %}
                            <form class="form" method="post" action="{% url 'cart:special_cart' %}">
                            {% else %}
                            <form class='form-product-ajax' method='POST' action='{% url "cart:update" %}' data-endpoint='{% url "cart:update" %}' {% if request.user.is_authenticated %}data-user='anonymous'{% endif %}> 
                            {% endif %}
                            {% csrf_token %}
                            <div class="prd-block_options topline">                                
                                {% comment %} <div class="prd-size swatches"><span class="option-label">Guide?:</span> <select class="form-control size-variants">
                                        <option value="{{ object.category }}" selected="selected">{{ object.category }} </option>
                                    </select>
                                    <ul class="size-list size-list--wide">
                                        <li><a href="#" data-fancybox="" data-src="#modalSuccess"><span class="value" style="border-color: #5cbcd6;color: #5cbcd6;"> How to buy?</span></a></li>
                                    </ul>
                                </div> {% endcomment %}
                             {% if object.p_type.all %}
                                <div class="prd-block_qty"><span class="option-label"><b>Bat Type:</b></span>
                                {% for obj in object.p_type.all %}
                                    <input class="checkbox-tools" type="radio" name="product_type" value="{{ obj.slug }}" id="{{ obj.slug }}" {% if obj.id == 1 %}checked{% endif %}>
                                    <label class="for-checkbox-tools" for="{{ obj.slug }}">
                                        <i class='uil uil-line-alt'></i>
                                        {{ obj.title }} 
                                    </label>
                                {% endfor %}
                                </div>
                             {% endif %}

                              {% if object.p_size.all %}
                                 <div class="prd-block_qty"><span class="option-label"><b>Bat Size:</b></span>
                                    <div class="center">
                                    <select name="product_size" id="bat_size" class="custom-select2" placeholder="Source Type" required>
                                     {% for obj in object.p_size.all %}
                                        <option value="{{ obj.slug }}" {% if obj.id == 1 %}selected{% endif %}>{{ obj.title }}</option>
                                     {% endfor %}
                                    </select>
                                    </div>
                                 </div>
                               {% endif %}
                                <div class="prd-block_qty"><span class="option-label"><b>Qty:</b></span>
                                    <div class="qty qty-changer">
                                        <fieldset><input type="button" value="&#8210;" class="decrease" disabled> <input type="text" class="qty-input" value="1" data-min="0" data-max="5" disabled> <input type="button" value="+" class="increase" disabled></fieldset>
                                    </div><span class="option-label">max <span class="qty-max">1</span> item(s)</span>
                                </div>
                            </div>
                            
                            {% if object.is_offer %}
                            <div class="prd-block_description topline">
                             <h3 style="color:#5cbcd6; margin-bottom: -10px;"><b> Available Offer </b></h3>
                            {{ object.offer_description|safe }}
                            </div>
                            {% endif %}

                            <div class="prd-block_actions topline">

                                <div class="prd-block_price"><span class="prd-block_price--actual">&#8377;{{ object.price }}</span> <span class="prd-block_price--old"> &#8377;{{ object.mrp_price }} </span> </div>  {% comment %} <span class="prd-block_price--old">&#8377;210.00</span> {% endcomment %}
                                <div class="btn-wrap">

                                <input type='hidden' name='product_id' value='{{ object.id }}' {% if  object.is_digital %}data-is-digital='true'{% endif%}/>
                                <div class='submit-span'>
                                {% if product in cart.products.all %}
                                    <a class='btn btn--add-to-cart' href='/cart/'><i class="icon icon-shopping-cart"></i> In cart</a> <button type='submit' class='btn btn--add-to-cart'><i class="icon icon-remove"></i> Remove?</button>
                                {% else %}
                                    <button type='submit' class='btn btn--add-to-cart'><i class="icon icon-handbag"></i> <span>Add to cart</span></button>
                                {% endif %}
                                </div>

                                {% comment %} {% include 'cart/snippets/update-cart-detailed.html' with product=object cart=cart %} {% endcomment %}
                                {% comment %} <button class="btn btn--add-to-cart" data-fancybox data-src="#modalCheckOut"><i class="icon icon-handbag"></i><span>Add to cart</span></button> {% endcomment %}
                                
                                </div>
                                {% comment %} <div class="prd-block_link"><a href="#" class="icon-heart-1"></a> <a href="#" class="icon-share"></a></div> {% endcomment %}
                            </div>
                            </form>
                            <div class="topline">
                                <h2>Description</h2>
                                <p> {{ object.description|safe }}</p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ymax"></div>
            </div>
        
            <div class="holder mt-5">
                <div class="container">
                    <h2>CUSTOMER REVIEWS</h2>
                    <div id="productReviews">
                        
                        {% if is_any_review %}
                        <div class="prd-rating">
                            {% with ''|center:average_rating as average_rating %}
                            {% for _ in average_rating %}
                                <i class="icon-star fill"></i>
                            {% endfor %}
                        {% endwith %}
                        {% with ''|center:remaining as remaining %}
                            {% for _ in remaining %}
                                <i class="icon-star"></i>
                            {% endfor %}
                        {% endwith %}
                        <span> Based on {{ review_count }} review</span>
                        </div>
                        {% for review in reviews %}
                        <div class="review-item">
                            <h4 class="review-item_author">{{ review.user.full_name }}</h4>
                            <div class="review-item_rating">
                            
                            {% with ''|center:review.ratings as average_rating %}
                            {% for _ in average_rating %}
                                <i class="icon-star fill"></i>
                            {% endfor %}
                        {% endwith %}
                            </div>
                            <p>{{ review.review }}</p>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="prd-rating">
                        <span> No reviews yet <br/> Be the first one to share your story</span>
                        </div>
                        {% endif %}
                        <div class="text-center"><a href="/products/review/{{ object.slug }}" class="btn-decor">Write a product Review</a></div>
                    </div>
                </div>
            </div>

        </div>
      <br/>
      <div id="modalSuccess" class="modal--newsletter modal--success" data-animation-duration="700" style="display: none;">
        
      <div class="py-md-3">
            <div class="container">
             <center> <h1> The Cricket Buying Bible - Cricket Equipment Buying Guide </h1> </center>

            <h2>The things that you need to look for when buying a cricket bat</h2>
           
            <h4>1. The type of willow/wood used</h4>
           
            <p>Essentially cricket bats can be made of two types of willow. There are English Willow cricket bats and Kashmir Willow cricket bats. English Willow is known to be the better of these two willows and provides most of the cricket bats used for leather ball cricket. The price of English Willow is, therefore, higher than the price of Kashmir Willow. Kashmir Willow cricket bats are good for tape ball cricket, beginner level cricket, and softer ball cricket. Even within English Willow itself, there are varying grades within the willow. This brings us to the next consideration.</p>
            <h4>2. The perfect size for you</h4>
            <p>Cricket Bats are not a one size fits all product. At least not when you are junior.&nbsp;</p>
            <p>Up to 120cm (3'11") should use a <b>size 0 bat</b></p>
            <p>20-129cm (3'11"- 4'3") should use a <b>size 1 bat</b></p>
            <p>129-137cm (4'3"- 4'6") should use a <b>size 2 bat</b></p>
            <p>137-144cm (4'6"- 4'8") should use a <b>size 3 bat</b></p>
            <p>144-150cm (4'8"- 4'11") should use a <b>size 4 bat</b></p>
            <p>150-157cm (4'11&rdquo;- 5'2") should use a <b>size 5 bat</b></p>
            <p>157-163cm (5'2"- 5'4") should use a <b>size 6 bat</b></p>
            <p>163-168cm (5'4"- 5'6") should use a <b>Harrow size bat</b></p>
            <p>168-175cm (5'6"- 5'9") should use an <b>Academy sized bat</b></p>
            <p>175cm and over (5'9"+) should use a <b>Full Size bat</b></p>
            <h4>3. A cricket bat sweet spot and how does it affect your shots?</h4>
            <p>Once you have got the size and budget right on the bat, the next big thing to look at is where the sweet spot on the bat is. Some batsmen love the classical mid sweet spot on the bat. There are many power hitters, as indicated by GM L-Sweet technology that loves a low sweet spot. This may enhance bat speed and front foot play and there are players who play on bouncy surfaces that enjoy a high sweet spot. This should be considered when buying your bat.</p>
            <p>Cricket balls and the ones you should buy</p>
            <p>There is a huge variety of cricket balls that you can</p>
            <p>buy. You will have to take into consideration many</p>
            <p>things before you make your purchase.</p>
            <p>Here are some of the factors that you should think of.</p>
            <h4>4. The surface you play in</h4>
            <p>The type of pitch that you will play on will have a strong influence on what type of cricket ball you will need. If you are playing on a cement or concrete surface then</p>
            <p>you will need to buy a heavy tennis ball or non-leather cricket ball.</p>
            <p>If you are playing on a turf cricket pitch as used for professional cricket then you will use a leather cricket ball but there are still factors to take into consideration.</p>
            <p>Why should you buy High-Quality Cricket Balls?</p>
            <p>The reasons to buy a high-quality cricket ball over a cricket ball of inferior quality are many. Firstly, a</p>
            <p>high-quality leather cricket ball will most certainly last longer than one of lower quality. More importantly, though, it should be noted that if you use a poor quality cricket ball with a high-end cricket bat, the ball could do long term damage to the bat. This is the most unwanted outcome.</p>
            <p>When it comes to cricket balls, perhaps more than any other piece of cricket equipment or cricket gear, what you pay for is what you get. A cricket ball at a high price point is almost certainly going to be a better cricket ball than a cheaper cricket ball.</p>
            <p><a href="https://ruwix.com/" target="_blank" rel="nofollow noopener">Go to Ruwix.com</a> to learn the solution of the Rubik's Cube and other twisty puzzles like Pyraminx, Square-1 etc.</p>
             
            </div>
        </div>
    </div>
   
{% endblock %}
{% block schema %}
    
    <script type="application/ld+json">
    {
    "@context": "https://schema.org/", 
    "@type": "Product", 
    "name": "{{ object.title }}",
    "image": "https://spograde.com/{{ object.image.url }}",
    "description": "{{ object.long_description }}",
    "brand": "Spograde LLP",
    "sku": "000{{ object.id }}",
    "offers": {
        "@type": "Offer",
        "url": "https://spograde.com/{{ object.get_absolute_url }}",
        "priceCurrency": "INR",
        "price": "{{ object.price }}",
        "priceValidUntil": "2020-03-31",
        "availability": "https://schema.org/InStock"
    },
    "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "{% if average_rating == 0 %}5.0{% else %}{{ average_rating }}{% endif %}",
        "ratingCount": "{% if review_count == 0 %}1{% else %}{{ review_count }}{% endif %}",
        "reviewCount": "{% if review_count == 0 %}1{% else %}{{ review_count }}{% endif %}"
    }
    }
    </script>
{% endblock %}

