{% extends "base.html" %}
{% load mathfilters %}
{% load template_tags %}
{% block title %} {{ title|title }} - Spograde {% endblock %}
{% block seo %}    
    <meta name="title" content="{{ object.title }}">
    <meta name="description" content="{{ object.long_description }}">
    <meta name="keywords" content="Spograde, Cricket Bat, English Willow-Leather, Kasmiri Willow - Tennis, Gully Cricket">
    <meta name="robots" content="index">
    <meta property="og:image" content="{{ object.image.url }}" />
    <meta property="og:image:secure_url" content="{{ object.image.url }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="{{ object.long_description }}" />
    <meta name="twitter:image" content="{{ object.image.url }}" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="en_US">
    {% endblock %}
{% block content %}
<div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="/">Home</a></li>
                    <li>Review</li>
                    <li><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></li>
                </ul>
            </div>
        </div>
        
        <div class="holder mt-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 text-center d-flex align-items-center justify-content-center">
                        <div class="card-body card-body-rating border">
                            <div class="prd-rating-value text-success">{{ average_rating }}.0</div>
                            <div class="prd-rating justify-content-center">
                            
                            {% with ''|center:average_rating as average_rating %}
                            {% for _ in average_rating %}
                                <i class="icon-star fill"></i>
                            {% endfor %}
                        {% endwith %}
                        {% with ''|center:remaining_rating as remaining_rating %}
                            {% for _ in remaining_rating %}
                                <i class="icon-star"></i>
                            {% endfor %}
                        {% endwith %}
                            
                            </div>
                            <div>Based on {{ total_review }} review</div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card-body card-body-progress">
                            <div class="row">
                                <div class="col-3">
                                    <h6>5 Stars</h6>
                                </div>
                                <div class="col-7">
                                    <div class="progress">
                                        <div class="progress-bar bg-success" style="width:60%"></div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <h6>({{ five_star_count }})</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <h6>4 Stars</h6>
                                </div>
                                <div class="col-7">
                                    <div class="progress">
                                        <div class="progress-bar bg-success" style="width:70%"></div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <h6>({{ four_star_count }})</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <h6>3 Stars</h6>
                                </div>
                                <div class="col-7">
                                    <div class="progress">
                                        <div class="progress-bar bg-warning" style="width:10%"></div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <h6>({{ three_star_count }})</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <h6>2 Stars</h6>
                                </div>
                                <div class="col-7">
                                    <div class="progress">
                                        <div class="progress-bar bg-danger" style="width:10%"></div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <h6>({{ two_star_count }})</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <h6>1 Star</h6>
                                </div>
                                <div class="col-7">
                                    <div class="progress">
                                        <div class="progress-bar bg-danger" style="width:10%"></div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <h6>({{ one_star_count }})</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center d-flex align-items-center justify-content-center">
                        <div class="review-write"><a href="#" class="btn btn--lg js-show-form" data-form="#writeReview"><i class="icon-pencil"></i><span>Write Your Reviews</span></a><br><small>share your experience/views about this product</small></div>
                    </div>
                </div>
                <div class="mt-3 d-none" id="writeReview">
                    <h3>Write Review</h3>
                    <div class="row mt-2">
                        <div class="col-sm-6"><label class="text-uppercase">Rate Us:</label>
                        <form data-toggle="validator" action="/products/add_product_revew" method="POST" class="review-form" id="reviewForm">
                        {% csrf_token %}
                            <div class="form-group" id="rating-ability-wrapper">
                            <label class="control-label" for="rating">
                            <span class="field-label-info"></span>
                            <input type="hidden" id="selected_rating" name="selected_rating" value="" required="required">
                            <input type="hidden" name="product_id" value="{{ product.slug }}" required="required">
                            </label>
                            <h2 class="bold rating-header" style="">
                            <span class="selected-rating">0</span><small> / 5</small>
                            </h2>
                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="1" id="rating-star-1">
                                <i class="icon icon-star" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="2" id="rating-star-2">
                                <i class="icon icon-star" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="3" id="rating-star-3">
                                <i class="icon icon-star" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="4" id="rating-star-4">
                                <i class="icon icon-star" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="5" id="rating-star-5">
                                <i class="icon icon-star" aria-hidden="true"></i>
                            </button>
	                        </div>
                        </div>
                        {% comment %} <div class="col-sm-6"><label class="text-uppercase">Upload Image:</label>
                            upload image
                        </div> {% endcomment %}
                    </div>
                    <div class="form-group"><label class="text-dark"><span class="required">*</span>MESSAGE</label> <textarea class="form-control textarea--height-100" name="message" data-required-error="Please fill the field"></textarea></div>
                    <div class="mt-2"><button type="reset" class="btn btn--alt js-close-form" data-form="#writeReview">Cancel</button> <button type="submit" class="btn ml-1">Send</button></div>
                </div>
                </form>

                {% if total_review == 0 %}
                <div class="prd-grid">
                            <div class="empty-category">
                                <div class="empty-category-text"><span>No</span>, Reviews yet</div>
                                 <h3> Be the first one to share your story </h3>
                            </div>
                        </div>
                {% endif %}

                {% for review in reviews %}
                <div class="review-item">
                    <div class="row">
                        <div class="col-md">
                            <h4 class="review-item_author"> {% if review.user.full_name is None %} {{ review.user.email }} {% else %} {{ review.user.full_name }} {% endif %} </h4>
                        </div>
                        <div class="col-md-auto">
                            <div class="review-item_date"> {{ review.timestamp }} </div>
                        </div>
                    </div>
                    <div class="review-item_rating">
                    {% with ''|center:review.ratings as average_rating %}
                    {% for _ in average_rating %}
                        <i class="icon-star fill"></i>
                    {% endfor %}
                {% endwith %}
                    </div>
                    <p>{{ review.review }}</p>
                    <div class="row pt-2">
                        <div class="col-md-auto">
                            <ul class="list-inline list-unstyled">
                                <li class="list-inline-item"><small>Is this helpful to you?</small></li>
                                <li class="list-inline-item"><button type="button" class="btn btn--grey btn-sm">Yes</button></li>
                                <li class="list-inline-item"><button type="button" class="btn btn--grey btn-sm">No</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
              {% endfor %}
                
            </div>
        </div>
    </div>
        
{% endblock %}
{% block extra_js %}
<style>
.rating-header {
    margin-top: -10px;
    margin-bottom: 10px;
}
</style>
{% endblock %}
