{% extends "base.html" %}
{% block title %} Order History - Spograde {% endblock %}
{% block content %}


<div class="holder mt-0">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><span>Order History</span></li>
                </ul>
            </div>
        </div><br/>
        <div class="holder mt-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 aside aside--left">
                         <div class="list-group"><a href="/account" class="list-group-item">Account Details</a> 
                        <a href="{% url "billing-payment-method" %}" class="list-group-item">Payment Methods</a> 
                        <a href="{% url "addresses" %}" class="list-group-item">Addresses</a> 
                        <a href="{% url "password_change" %}" class="list-group-item">Change Password</a> 
                        <a href="{% url "orders:list" %}" class="list-group-item active">Order History</a> 
                        <a href="{% url "account:user-update" %}" class="list-group-item">Update Details</a> 
                        {% comment %} <a href="#" class="list-group-item">Compare Products</a> {% endcomment %}</div>
                    </div>
                    <div class="col-md-9 aside">
                        {% comment %} <h2>Account Details</h2> {% endcomment %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h3>Order History</h3>
                                           
                                           
                                           
                                           {% for obj in object_list %}
                                            
                                           
                                            {% include 'products/snippets/card.html' with instance=obj.content_object %}  
                                            
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>             
                    </div>
                </div>
            </div>
        </div>
    </div><br/>
</div>

{% endblock %}